<template>
  <div id="quickview-wrapper">
    <div class="modal fade" id="productModal" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="modal-product clearfix">
              <h2>
                <i class="zmdi zmdi-check" aria-hidden="true"></i> Questo
                prodotto è stato aggiunto al tuo carrello
              </h2>
              <div class="product-images">
                <div class="main-image images">
                  <img alt src="img/product/quickview.jpg" />
                </div>
              </div>

              <div class="product-info">
                <h1>
                  Coperta da box Waffeloptik con cinghie e imbottitura
                  antifiaccatura sul garrese di colore blu
                </h1>
                <div class="price-box-3">
                  <div class="s-price-box">
                    <strong>Articolo:</strong> TT123456789
                    <br />
                    <strong>Variante:</strong> Eventuale nome della variante
                    <br />
                    <strong>
                      Prezzo:
                      <span class="arancione">€ 71,81</span>
                    </strong>
                  </div>
                </div>
                <div class="quick-add-to-cart">
                  <button
                    class="single_add_to_cart_button"
                    type="button"
                    data-dismiss="modal"
                  >Continua gli acquisti</button>
                  <button class="single_add_to_cart_button" type="button">Vai al carrello</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {};
</script>

<style scoped></style>
