<template>
  <div class="consegna">
    <i class="zmdi zmdi-truck zmdi-hc-border-circle f-left"></i>
    <strong class="arancione">Consegna express GRATIS:</strong>
    <br />il prodotto sarà affidato al corriere in circa
    <strong>1-3 giorni lavorativi</strong>
  </div>
</template>

<script>
export default {};
</script>

<style scoped></style>
