<template>
  <div class="imgs-zoom-area">
    <img
      id="zoom_03"
      :src="
        'http://34.89.144.223:8080/horse-admin-backend/image/site/product_' +
          codice +
          '-c0.jpg'
      "
      :data-zoom-image="
        'http://34.89.144.223:8080/horse-admin-backend/image/site/product_' +
          codice +
          '-c0.jpg'
      "
      :alt="titolo"
    />

    <div class="row">
      <div class="col-xs-12">
        <div id="gallery_01" class="carousel-btn slick-arrow-3 mt-30">
          <div class="p-c">
            <a href="#" data-image="img/product/2.jpg" data-zoom-image="img/product/2.jpg">
              <img class="zoom_03" src="img/product/2.jpg" alt />
            </a>
          </div>
          <div class="p-c">
            <a href="#" data-image="img/product/3.jpg" data-zoom-image="img/product/3.jpg">
              <img class="zoom_03" src="img/product/3.jpg" alt />
            </a>
          </div>
          <div class="p-c">
            <a href="#" data-image="img/product/4.jpg" data-zoom-image="img/product/4.jpg">
              <img class="zoom_03" src="img/product/4.jpg" alt />
            </a>
          </div>
          <div class="p-c">
            <a href="#" data-image="img/product/5.jpg" data-zoom-image="img/product/5.jpg">
              <img class="zoom_03" src="img/product/5.jpg" alt />
            </a>
          </div>
          <div class="p-c">
            <a href="#" data-image="img/product/6.jpg" data-zoom-image="img/product/6.jpg">
              <img class="zoom_03" src="img/product/6.jpg" alt />
            </a>
          </div>
          <div class="p-c">
            <a href="#" data-image="img/product/7.jpg" data-zoom-image="img/product/7.jpg">
              <img class="zoom_03" src="img/product/7.jpg" alt />
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    codice: String,
    titolo: String
  }
};
</script>

<style scoped></style>
