<template>
  <div class="row" id="marca">
    <div class="col-xs-3">
      <img src="https://www.nonsolocavallo.it/_public2/img/marche/tattini.jpg" alt="Tattini" />
    </div>
    <div class="col-xs-9">
      Marca:
      <strong>Tattini</strong> - 100% ORIGINALE
      <br />Codice articolo:
      <strong>TT123456789</strong>
    </div>
  </div>
</template>

<script>
export default {};
</script>

<style scoped></style>
