<template>
  <div class="container hidden-xs">
    <div class="row">
      <div class="col-sm-12">
        <div class="menu-nav">
          <router-link
            :to="{
              name: 'prodotti',
              params: {
                id: this.$storage.get('catAttuale').id,
                titolo: this.$storage.get('catAttuale').titolo
              },
              query: {
                page: this.$route.query.page,
                order: this.$route.query.order
              }
            }"
            class="f-left"
          >&laquo; torna indietro</router-link>
          <div class="f-right">
            <a href="#" class="mr-10">&lt; precedente</a>
            <a href="#">successivo &gt;</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
