<template>
  <div class="row" id="prezzi">
    <div class="col-sm-12">
      <span class="prezzo">€ 1023,69</span> IVA inclusa
      <br />
      <span class="sconto">25% in meno</span>
      <span class="vecchio">€ 1236,89</span>
    </div>
  </div>
</template>

<script>
export default {};
</script>

<style scoped></style>
