<template>
  <div class="related-product-area">
    <div class="row">
      <div class="col-md-12">
        <div class="section-title text-left mb-40">
          <h2 class="uppercase">prodotti correlati</h2>
          <h6>Alcuni suggerimenti per i tuoi acquisti</h6>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="active-related-product">
        <!-- prodotto correlato -->
        <div class="col-xs-12">
          <div class="correlato">
            <a href="prodotto.asp">
              <img src="https://www.nonsolocavallo.it/foto/mobile/pebar0010-c.jpg" alt />
            </a>

            <div class="info">
              <h6 class="titolo">
                <a href="prodotto.asp">Product Name</a>
              </h6>

              <div class="pro-rating">
                <a href="#">
                  <i class="zmdi zmdi-star"></i>
                </a>
                <a href="#">
                  <i class="zmdi zmdi-star"></i>
                </a>
                <a href="#">
                  <i class="zmdi zmdi-star"></i>
                </a>
                <a href="#">
                  <i class="zmdi zmdi-star-half"></i>
                </a>
                <a href="#">
                  <i class="zmdi zmdi-star-outline"></i>
                </a>
              </div>

              <h3 class="pro-price">$ 869.00</h3>
            </div>
          </div>
        </div>

        <!-- prodotto correlato -->
        <div class="col-xs-12">
          <div class="correlato">
            <a href="prodotto.asp">
              <img src="https://www.nonsolocavallo.it/foto/mobile/pebar0010-c.jpg" alt />
            </a>

            <div class="info">
              <h6 class="titolo">
                <a href="prodotto.asp">Product Name</a>
              </h6>

              <div class="pro-rating">
                <a href="#">
                  <i class="zmdi zmdi-star"></i>
                </a>
                <a href="#">
                  <i class="zmdi zmdi-star"></i>
                </a>
                <a href="#">
                  <i class="zmdi zmdi-star"></i>
                </a>
                <a href="#">
                  <i class="zmdi zmdi-star-half"></i>
                </a>
                <a href="#">
                  <i class="zmdi zmdi-star-outline"></i>
                </a>
              </div>

              <h3 class="pro-price">$ 869.00</h3>
            </div>
          </div>
        </div>

        <!-- prodotto correlato -->
        <div class="col-xs-12">
          <div class="correlato">
            <a href="prodotto.asp">
              <img src="https://www.nonsolocavallo.it/foto/mobile/pebar0010-c.jpg" alt />
            </a>

            <div class="info">
              <h6 class="titolo">
                <a href="prodotto.asp">Product Name</a>
              </h6>

              <div class="pro-rating">
                <a href="#">
                  <i class="zmdi zmdi-star"></i>
                </a>
                <a href="#">
                  <i class="zmdi zmdi-star"></i>
                </a>
                <a href="#">
                  <i class="zmdi zmdi-star"></i>
                </a>
                <a href="#">
                  <i class="zmdi zmdi-star-half"></i>
                </a>
                <a href="#">
                  <i class="zmdi zmdi-star-outline"></i>
                </a>
              </div>

              <h3 class="pro-price">$ 869.00</h3>
            </div>
          </div>
        </div>

        <!-- prodotto correlato -->
        <div class="col-xs-12">
          <div class="correlato">
            <a href="prodotto.asp">
              <img src="https://www.nonsolocavallo.it/foto/mobile/pebar0010-c.jpg" alt />
            </a>

            <div class="info">
              <h6 class="titolo">
                <a href="prodotto.asp">Product Name</a>
              </h6>

              <div class="pro-rating">
                <a href="#">
                  <i class="zmdi zmdi-star"></i>
                </a>
                <a href="#">
                  <i class="zmdi zmdi-star"></i>
                </a>
                <a href="#">
                  <i class="zmdi zmdi-star"></i>
                </a>
                <a href="#">
                  <i class="zmdi zmdi-star-half"></i>
                </a>
                <a href="#">
                  <i class="zmdi zmdi-star-outline"></i>
                </a>
              </div>

              <h3 class="pro-price">$ 869.00</h3>
            </div>
          </div>
        </div>

        <!-- prodotto correlato -->
        <div class="col-xs-12">
          <div class="correlato">
            <a href="prodotto.asp">
              <img src="https://www.nonsolocavallo.it/foto/mobile/pebar0010-c.jpg" alt />
            </a>

            <div class="info">
              <h6 class="titolo">
                <a href="prodotto.asp">Product Name</a>
              </h6>

              <div class="pro-rating">
                <a href="#">
                  <i class="zmdi zmdi-star"></i>
                </a>
                <a href="#">
                  <i class="zmdi zmdi-star"></i>
                </a>
                <a href="#">
                  <i class="zmdi zmdi-star"></i>
                </a>
                <a href="#">
                  <i class="zmdi zmdi-star-half"></i>
                </a>
                <a href="#">
                  <i class="zmdi zmdi-star-outline"></i>
                </a>
              </div>

              <h3 class="pro-price">$ 869.00</h3>
            </div>
          </div>
        </div>

        <!-- prodotto correlato -->
        <div class="col-xs-12">
          <div class="correlato">
            <a href="prodotto.asp">
              <img src="https://www.nonsolocavallo.it/foto/mobile/pebar0010-c.jpg" alt />
            </a>

            <div class="info">
              <h6 class="titolo">
                <a href="prodotto.asp">Product Name</a>
              </h6>

              <div class="pro-rating">
                <a href="#">
                  <i class="zmdi zmdi-star"></i>
                </a>
                <a href="#">
                  <i class="zmdi zmdi-star"></i>
                </a>
                <a href="#">
                  <i class="zmdi zmdi-star"></i>
                </a>
                <a href="#">
                  <i class="zmdi zmdi-star-half"></i>
                </a>
                <a href="#">
                  <i class="zmdi zmdi-star-outline"></i>
                </a>
              </div>

              <h3 class="pro-price">$ 869.00</h3>
            </div>
          </div>
        </div>

        <!-- prodotto correlato -->
        <div class="col-xs-12">
          <div class="correlato">
            <a href="prodotto.asp">
              <img src="https://www.nonsolocavallo.it/foto/mobile/pebar0010-c.jpg" alt />
            </a>

            <div class="info">
              <h6 class="titolo">
                <a href="prodotto.asp">Product Name</a>
              </h6>

              <div class="pro-rating">
                <a href="#">
                  <i class="zmdi zmdi-star"></i>
                </a>
                <a href="#">
                  <i class="zmdi zmdi-star"></i>
                </a>
                <a href="#">
                  <i class="zmdi zmdi-star"></i>
                </a>
                <a href="#">
                  <i class="zmdi zmdi-star-half"></i>
                </a>
                <a href="#">
                  <i class="zmdi zmdi-star-outline"></i>
                </a>
              </div>

              <h3 class="pro-price">$ 869.00</h3>
            </div>
          </div>
        </div>

        <!-- prodotto correlato -->
        <div class="col-xs-12">
          <div class="correlato">
            <a href="prodotto.asp">
              <img src="https://www.nonsolocavallo.it/foto/mobile/pebar0010-c.jpg" alt />
            </a>

            <div class="info">
              <h6 class="titolo">
                <a href="prodotto.asp">Product Name</a>
              </h6>

              <div class="pro-rating">
                <a href="#">
                  <i class="zmdi zmdi-star"></i>
                </a>
                <a href="#">
                  <i class="zmdi zmdi-star"></i>
                </a>
                <a href="#">
                  <i class="zmdi zmdi-star"></i>
                </a>
                <a href="#">
                  <i class="zmdi zmdi-star-half"></i>
                </a>
                <a href="#">
                  <i class="zmdi zmdi-star-outline"></i>
                </a>
              </div>

              <h3 class="pro-price">$ 869.00</h3>
            </div>
          </div>
        </div>

        <!-- prodotto correlato -->
        <div class="col-xs-12">
          <div class="correlato">
            <a href="prodotto.asp">
              <img src="https://www.nonsolocavallo.it/foto/mobile/pebar0010-c.jpg" alt />
            </a>

            <div class="info">
              <h6 class="titolo">
                <a href="prodotto.asp">Product Name</a>
              </h6>

              <div class="pro-rating">
                <a href="#">
                  <i class="zmdi zmdi-star"></i>
                </a>
                <a href="#">
                  <i class="zmdi zmdi-star"></i>
                </a>
                <a href="#">
                  <i class="zmdi zmdi-star"></i>
                </a>
                <a href="#">
                  <i class="zmdi zmdi-star-half"></i>
                </a>
                <a href="#">
                  <i class="zmdi zmdi-star-outline"></i>
                </a>
              </div>

              <h3 class="pro-price">$ 869.00</h3>
            </div>
          </div>
        </div>

        <!-- prodotto correlato -->
        <div class="col-xs-12">
          <div class="correlato">
            <a href="prodotto.asp">
              <img src="https://www.nonsolocavallo.it/foto/mobile/pebar0010-c.jpg" alt />
            </a>

            <div class="info">
              <h6 class="titolo">
                <a href="prodotto.asp">Product Name</a>
              </h6>

              <div class="pro-rating">
                <a href="#">
                  <i class="zmdi zmdi-star"></i>
                </a>
                <a href="#">
                  <i class="zmdi zmdi-star"></i>
                </a>
                <a href="#">
                  <i class="zmdi zmdi-star"></i>
                </a>
                <a href="#">
                  <i class="zmdi zmdi-star-half"></i>
                </a>
                <a href="#">
                  <i class="zmdi zmdi-star-outline"></i>
                </a>
              </div>

              <h3 class="pro-price">$ 869.00</h3>
            </div>
          </div>
        </div>

        <!-- prodotto correlato -->
        <div class="col-xs-12">
          <div class="correlato">
            <a href="prodotto.asp">
              <img src="https://www.nonsolocavallo.it/foto/mobile/pebar0010-c.jpg" alt />
            </a>

            <div class="info">
              <h6 class="titolo">
                <a href="prodotto.asp">Product Name</a>
              </h6>

              <div class="pro-rating">
                <a href="#">
                  <i class="zmdi zmdi-star"></i>
                </a>
                <a href="#">
                  <i class="zmdi zmdi-star"></i>
                </a>
                <a href="#">
                  <i class="zmdi zmdi-star"></i>
                </a>
                <a href="#">
                  <i class="zmdi zmdi-star-half"></i>
                </a>
                <a href="#">
                  <i class="zmdi zmdi-star-outline"></i>
                </a>
              </div>

              <h3 class="pro-price">$ 869.00</h3>
            </div>
          </div>
        </div>

        <!-- prodotto correlato -->
        <div class="col-xs-12">
          <div class="correlato">
            <a href="prodotto.asp">
              <img src="https://www.nonsolocavallo.it/foto/mobile/pebar0010-c.jpg" alt />
            </a>

            <div class="info">
              <h6 class="titolo">
                <a href="prodotto.asp">Product Name</a>
              </h6>

              <div class="pro-rating">
                <a href="#">
                  <i class="zmdi zmdi-star"></i>
                </a>
                <a href="#">
                  <i class="zmdi zmdi-star"></i>
                </a>
                <a href="#">
                  <i class="zmdi zmdi-star"></i>
                </a>
                <a href="#">
                  <i class="zmdi zmdi-star-half"></i>
                </a>
                <a href="#">
                  <i class="zmdi zmdi-star-outline"></i>
                </a>
              </div>

              <h3 class="pro-price">$ 869.00</h3>
            </div>
          </div>
        </div>

        <!-- prodotto correlato -->
        <div class="col-xs-12">
          <div class="correlato">
            <a href="prodotto.asp">
              <img src="https://www.nonsolocavallo.it/foto/mobile/pebar0010-c.jpg" alt />
            </a>

            <div class="info">
              <h6 class="titolo">
                <a href="prodotto.asp">Product Name</a>
              </h6>

              <div class="pro-rating">
                <a href="#">
                  <i class="zmdi zmdi-star"></i>
                </a>
                <a href="#">
                  <i class="zmdi zmdi-star"></i>
                </a>
                <a href="#">
                  <i class="zmdi zmdi-star"></i>
                </a>
                <a href="#">
                  <i class="zmdi zmdi-star-half"></i>
                </a>
                <a href="#">
                  <i class="zmdi zmdi-star-outline"></i>
                </a>
              </div>

              <h3 class="pro-price">$ 869.00</h3>
            </div>
          </div>
        </div>

        <!-- prodotto correlato -->
        <div class="col-xs-12">
          <div class="correlato">
            <a href="prodotto.asp">
              <img src="https://www.nonsolocavallo.it/foto/mobile/pebar0010-c.jpg" alt />
            </a>

            <div class="info">
              <h6 class="titolo">
                <a href="prodotto.asp">Product Name</a>
              </h6>

              <div class="pro-rating">
                <a href="#">
                  <i class="zmdi zmdi-star"></i>
                </a>
                <a href="#">
                  <i class="zmdi zmdi-star"></i>
                </a>
                <a href="#">
                  <i class="zmdi zmdi-star"></i>
                </a>
                <a href="#">
                  <i class="zmdi zmdi-star-half"></i>
                </a>
                <a href="#">
                  <i class="zmdi zmdi-star-outline"></i>
                </a>
              </div>

              <h3 class="pro-price">$ 869.00</h3>
            </div>
          </div>
        </div>

        <!-- prodotto correlato -->
        <div class="col-xs-12">
          <div class="correlato">
            <a href="prodotto.asp">
              <img src="https://www.nonsolocavallo.it/foto/mobile/pebar0010-c.jpg" alt />
            </a>

            <div class="info">
              <h6 class="titolo">
                <a href="prodotto.asp">Product Name</a>
              </h6>

              <div class="pro-rating">
                <a href="#">
                  <i class="zmdi zmdi-star"></i>
                </a>
                <a href="#">
                  <i class="zmdi zmdi-star"></i>
                </a>
                <a href="#">
                  <i class="zmdi zmdi-star"></i>
                </a>
                <a href="#">
                  <i class="zmdi zmdi-star-half"></i>
                </a>
                <a href="#">
                  <i class="zmdi zmdi-star-outline"></i>
                </a>
              </div>

              <h3 class="pro-price">$ 869.00</h3>
            </div>
          </div>
        </div>

        <!-- prodotto correlato -->
        <div class="col-xs-12">
          <div class="correlato">
            <a href="prodotto.asp">
              <img src="https://www.nonsolocavallo.it/foto/mobile/pebar0010-c.jpg" alt />
            </a>

            <div class="info">
              <h6 class="titolo">
                <a href="prodotto.asp">Product Name</a>
              </h6>

              <div class="pro-rating">
                <a href="#">
                  <i class="zmdi zmdi-star"></i>
                </a>
                <a href="#">
                  <i class="zmdi zmdi-star"></i>
                </a>
                <a href="#">
                  <i class="zmdi zmdi-star"></i>
                </a>
                <a href="#">
                  <i class="zmdi zmdi-star-half"></i>
                </a>
                <a href="#">
                  <i class="zmdi zmdi-star-outline"></i>
                </a>
              </div>

              <h3 class="pro-price">$ 869.00</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {};
</script>

<style scoped></style>
