<template>
  <div class="pro-rating sin-pro-rating">
    <a href="#" tabindex="0">
      <i class="zmdi zmdi-star"></i>
    </a>
    <a href="#" tabindex="0">
      <i class="zmdi zmdi-star"></i>
    </a>
    <a href="#" tabindex="0">
      <i class="zmdi zmdi-star"></i>
    </a>
    <a href="#" tabindex="0">
      <i class="zmdi zmdi-star-half"></i>
    </a>
    <a href="#" tabindex="0">
      <i class="zmdi zmdi-star-outline"></i>
    </a>
    <span class="voti">(27 Voti)</span>
  </div>
</template>

<script>
export default {};
</script>

<style scoped></style>
