<template>
  <div>
    <div class="row">
      <div class="col-sm-12">
        <div class="row">
          <div class="col-sm-2">
            <label class="label1">COLORE:</label>
          </div>
          <div class="col-sm-10">
            <select class="select1">
              <option value="defalt">seleziona</option>
              <option value="verde">verde</option>
              <option value="bianco">bianco</option>
              <option value="rosso">rosso</option>
              <option value="nero">nero</option>
            </select>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <div class="row">
          <div class="col-sm-2">
            <label class="label1">TAGLIA:</label>
          </div>
          <div class="col-sm-10">
            <select class="select1">
              <option value="defalt">seleziona</option>
              <option value="S">S</option>
              <option value="M">M</option>
              <option value="L">L</option>
              <option value="XL">XL</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {};
</script>

<style scoped></style>
