<template>
  <div class="row mb-15">
    <div class="col-sm-2">
      <label class="label1">VARIANTE:</label>
    </div>
    <div class="col-sm-10">
      <select class="select1">
        <option>- seleziona uno dei valori disponibili -</option>
        <option value="val1">LL-ABF82/15 - Dolcevita paris da 15 cm</option>
        <option value="val2">LL-ABF82/20 - Dolcevita paris da 20 cm</option>
        <option value="val3">LL-ABF82/25 - Dolcevita paris da 25 cm</option>
      </select>
    </div>
  </div>
</template>

<script>
export default {};
</script>
