<template>
  <div>
    <p class="mb-0">
      <strong class="nero">
        Questo prodotto è in vendita in una delle seguenti varianti, scegli
        quella che desideri acquistare dalla tendina presente in alto alla
        scheda:
      </strong>
    </p>
    <div class="row">
      <div class="col-sm-8">
        <table cellpadding="0" cellspacing="0" class="tabella1 mb-30">
          <thead>
            <tr>
              <th>ARTICOLO</th>
              <th>VARIANTE/FORMATO DI VENDITA</th>
              <th>PREZZO iva inc.</th>
            </tr>
          </thead>
          <tr>
            <td>LL-ABF82/15</td>
            <td>Dolcevita paris da 15 cm</td>
            <td>€ 1601,99</td>
          </tr>
          <tr class="selezionata">
            <td>LL-ABF82/20</td>
            <td>Dolcevita paris da 20 cm</td>
            <td>€ 1602,99</td>
          </tr>
          <tr>
            <td>LL-ABF82/25</td>
            <td>Dolcevita paris da 25 cm</td>
            <td>€ 1603,99</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</template>

<script>
export default {};
</script>

<style scoped></style>
