<template>
  <div role="tabpanel" class="tab-pane" id="pagamenti">
    <div class="row">
      <div class="col-sm-2">
        <strong class="arancione">BONIFICO BANCARIO ANTICIPATO</strong>
      </div>
      <div class="col-sm-10">
        <p>
          L'ordine effettuato verrà elaborato all'atto dell'effettivo accredito
          della somma dovuta. Ai normali tempi di consegna va aggiunta la
          tempistica bancaria di cui sopra. I dati per effettuare il bonifico
          sono disponibili sull'e-mail di conferma ordine.
        </p>
      </div>
    </div>

    <hr />

    <div class="row">
      <div class="col-sm-2">
        <strong class="arancione">CARTE DI CREDITO</strong>
      </div>
      <div class="col-sm-10">
        <img
          src="img/product/carta-credito.jpg"
          alt="Carte di Credito"
          class="img-responsive mb-10"
        />
        <p>
          Questo e-commerce utilizza KeyClient, il circuito per gli acquisti
          sicuri su Internet con carta di credito circuiti: Visa, Visa Electron,
          Carta Si, MasterCard e Maestro. Le informazioni inserite relativamente
          ai dati della tua carta di credito verranno gestiti da un SERVER
          SICURO (Verified by Visa e MasterCard SecureCode) per l'invio di
          informazioni sensibili attraverso la rete Internet.
        </p>
      </div>
    </div>

    <hr />

    <div class="row">
      <div class="col-sm-2">
        <strong class="arancione">PAYPAL</strong>
      </div>
      <div class="col-sm-10">
        <img src="img/product/paypal.jpg" alt="PayPal" class="img-responsive mb-10" />
        <p>
          Il pagamento con PayPal è riservato a coloro che dispongono di un
          account PayPal ma può essere utilizzato anche per pagare con Carta di
          Credito. Sarai reindirizzato al sito PayPal dove potrai effettuare il
          login oppure inserire i dati della tua Carta di Credito.
        </p>
      </div>
    </div>

    <hr />

    <div class="row">
      <div class="col-sm-2">
        <strong class="arancione">CONTRASSEGNO ALLA CONSEGNA + € 6,00</strong>
      </div>
      <div class="col-sm-10">
        <p>
          Il pagamento con contrassegno prevede un contributo fisso pari a
          <strong>€ 6,00</strong>
          <br />Il pagamento viene effettuato al corriere al momento della
          consegna del prodotto acquistato solo con banconote o monete. Il
          corriere che non accetta assegni né bancari né circolari.
        </p>
      </div>
    </div>

    <hr />

    <div class="row">
      <div class="col-sm-2">
        <strong class="arancione">RITIRO A MANO PRESSO LA SEDE</strong>
      </div>
      <div class="col-sm-10">
        <p>
          È possibile ritirare la merce direttamente presso la redazione del
          Portale del Cavallo, via Della Valle 46/A Carate Brianza (MB),
          risparmiando le spese di spedizione, previo appuntamento per avere la
          conferma della disponibilità della merce. Pagamento in sede con
          contanti o bonifico anticipato.
        </p>
      </div>
    </div>

    <hr />

    <div class="row">
      <div class="col-sm-2">
        <strong class="arancione">RATEALE</strong>
      </div>
      <div class="col-sm-10">
        <img src="img/product/consel.jpg" alt="@Rate in Rete" class="img-responsive mb-10" />
        <p>
          Grazie a un accordo con Consel Spa (Società finanziaria di credito al
          consumo del Gruppo Banca Sella) ti offriamo la possibilità di pagare i
          tuoi acquisti in comode rate addebitate sul conto corrente bancario. I
          finanziamenti possono essere richiesti da un consumatore privato per
          un
          <strong>importo minimo di € 150,00 IVA inclusa e massimo di € 8.000,00</strong>
        </p>
      </div>
    </div>
  </div>
</template>

<script>
export default {};
</script>

<style scoped></style>
