<template>
  <div role="tabpanel" class="tab-pane" id="spedizione">
    <p>
      <strong class="arancione">SPESE DI SPEDIZIONE:</strong>
      <br />Le spese di spedizione tramite corriere ammontano a:
    </p>

    <ul class="mb-15">
      <li>€ 7,50 fino a € 39,00</li>
      <li>Gratis se si superano € 39,00</li>
    </ul>

    <p>
      È possibile richiedere il preavviso telefonico dal corriere prima della
      consegna per concordare modalità e orari. Il servizio ha un costo
      aggiuntivo di solo € 1,80 Per il contrassegno è prevista una maggiorazione
      di € 6,00 dovuta alle spese di incasso da parte del corriere. Le spese di
      spedizione verranno calcolate nel carrello al momento dell'ordine.
    </p>

    <hr />

    <p>
      <strong class="arancione">TEMPI DI CONSEGNA:</strong>
      <br />La scheda di ogni prodotto riporta il tempo medio di evasione,
      ovvero l'intervallo di tempo che intercorre tra la ricezione dell'ordine
      (e del relativo pagamento) fino all'imballaggio e alla consegna
      dell'articolo al corriere. Per stabilire la data in cui verrà consegnata
      la merce bisogna sommare al tempo di evasione dei prodotti riportato sulla
      scheda, il tempo necessario al corriere per recapitarla.
    </p>

    <hr />

    <p>
      <strong class="arancione">CORRIERI A CUI AFFIDIAMO LE NOSTRE SPEDIZIONI:</strong>
      <br />GLS / SDA per isole minori, Venezia e Livigno I tempi di rimessa
      sono 24 ore (fino a 78 ore per Puglia meridionale, Calabria, Sicilia,
      Sardegna e zone disagiate). Le consegne e le spedizioni avvengono solo nei
      giorni lavorativi. Appena la merce lascia il nostro magazzino il cliente
      riceve una e-mail con la conferma di spedizione e il nominativo del
      corriere a cui è stata affidata la consegna. Successivamente si riceverà
      direttamente dal corriere il codice traking e le istruzioni con le quali
      monitorare la consegna sul sito dello spedizioniere.
    </p>
    <img src="img/product/corrieri.jpg" alt="GLS - SDA" class="img-responsive" />
  </div>
</template>

<script>
export default {};
</script>

<style scoped></style>
