/*--------------------------------------------------------------

  Template Name: Subas Ecommerce Responsive Bootstrap Template
  Description: This is html5 template
  Author: codecarnival
  Version: 1.0
  Design and Developed by: codecarnival

Note: This is the file where you can add your custom styles to change the look of the theme. But don't modify "style.css" file.

---------------------------------------------------------------*/

/* ----------------------------------------------------
	You can put your custom css code here: 
-------------------------------------------------------*/

/* COMUNI */
  hr {margin: 15px 0}

  /* bottoniera drop-down*/
  ul.bottDropDwn {margin-top: 8px}
  ul.bottDropDwn > li {display: inline-block; margin-right: 15px}
  ul.bottDropDwn > li:last-child {margin-right: 0}
  ul.bottDropDwn > li button {background: none; border: 0; color: #000; font-weight: 500; padding: 0}
    ul.bottDropDwn > li button:hover {background: none; color: #000}
  ul.bottDropDwn > li > a {color: #000; font-weight: 500}
  .btn-default.active, .btn-default:active, .open > .dropdown-toggle.btn-default {background-color: transparent; border-color: transparent; color: #000}

  /* main-menu*/
  .main-menu > li > a.animali:before, .dropdwn li a.animali:before, .single-mega-item li a.animali:before {background: #EA620E}
  .main-menu > li > a.uomini:before, .dropdwn li a.uomini:before, .single-mega-item li a.uomini:before {background: #367095}

  .mega-menu-area {left: 15px; padding: 15px; padding-bottom: 0}
  .mega-menu-area-2 {width: 1130px}
  .single-mega-item {margin-bottom: 15px; padding: 0}
  .single-mega-item .menu-title {color: #000; font-size: 13px; font-weight: 500; padding-bottom: 0; text-transform: none}
  .single-mega-item li {margin-bottom: 0}
    .single-mega-item li a {padding: 0}
    .single-mega-item > li:hover > a {color: #000}
    .main-menu > li > a::before, .dropdwn li a::before, .single-mega-item li a::before {height: 2px; bottom: 0}


    /* breadcrumb */
  .breadcrumb {font-size: 12px; padding-top: 0; padding-bottom: 0}
  .breadcrumb > li + li::before {color: #666; content: "\003e\00a0"}
  .breadcrumb > li + li.f-right::before {content: ""}



/* HOME PAGE */

  /* slider */
  .slider-img {width: 85%}
  .slider-info {height: auto; padding: 50px; width: 45%}
    .slider-info .slider-info-inner {top: 0; transform: translateY(0)}
    .slider-title-1 {font-size: 30px; line-height: 30px; margin-bottom: 15px}
    .slider-brief p {color: #000}
  .slick-dots-1 .slick-dots {bottom: 0; display: none !important}


  /* blog cavalli */
  .blog-section {color: #FFF}
    .blog-section h5.blog-title {margin-left: 40px}
  .blog-item .blog-desc {background: #5BB246; font-size: 18px}
  .blog-item:hover .blog-desc {opacity: 0.9}
  .blog-item .blog-desc ul {margin-bottom: 50px}
    .blog-item .blog-desc li {margin-bottom: 10px}
  .blog-item.fisso {background: #F6F6F6; color: #666; display: block; height: 300px; overflow: hidden; width: 100%}
    .blog-item.fisso .blog-desc {backface-visibility: block; background: none; opacity: 1}
    .blog-item.fisso .blog-desc a {color: #666}
      .blog-item.fisso .blog-desc a:hover {color: #42A62A}
    .blog-item.fisso .blog-desc:before, .blog-item.fisso .blog-desc:after {border-color: #CCC; opacity: 1; transform: scale(1)}


  /* top seller equitazione*/
  .up-comming-pro .wrapper {border: 1px solid #CCC; background: transparent; margin: 20px; min-height: 320px; overflow: hidden}
  .up-comming-pro li {font-size: 18px; margin-bottom: 10px}


  /* banner */
  .up-comming-pro-img img {margin-top: 0}

  .banner-info {left: 25px; top: 26%}
  .banner-info p {color: #666; font-size: 16px}
  .banner-info img {height: auto; width: 70%}


  /* marche */
  .marche img {border: 1px solid #CCC; height: auto; padding: 3px; width: 100%}
  .marche .vedi {background: #42A62A; color: #FFF; display: block; font-size: 65%; font-weight: 700; line-height: 1.2; padding: 12px 2px; text-transform: uppercase}


  /* popular products */
  .product-tab .product-img {border: 8px solid #F6F6F6; border-bottom: 0}
  .product-tab .product-title {font-size: 12px; font-weight: 400; text-transform: none}


  /* blog piccoli amici */
  .piccoli_amici {background: #272729; color: #FFF; padding-top: 30px}
    .piccoli_amici h2, .piccoli_amici h5.blog-title {color: #FFF}
  .piccoli_amici .blog-item .blog-desc {background: #E95700}


  /* pre-footer */
  div.pre-footer {color: #000; font-size: 12px; line-height: 16px}
  div.pre-footer h3 {border-bottom: 1px solid #000; color: #000; margin-bottom: 20px; padding-bottom: 10px; text-transform: uppercase}
  div.pre-footer .big {color: #349F1B; font-size: 18px; font-weight: bold}
  div.pre-footer img {height: auto}



/* PRODOTTI */
  .widget input[type="checkbox"] {margin: 4px 10px 0 0}

  .filtri-mobile {margin-bottom: 15px}
  .filtri-mobile .bottone1 {background: #666; width: 100%}



/* PRODOTTO */
  /* menu navigazione */
  div#prodotto .menu-nav {background: #F5F5F5; margin-bottom: 15px; overflow: hidden; padding: 0 10px}

  /* titolo */
  div#prodotto h1 {color: #000; font-size: 25px}

  /* marca */
  div#prodotto #marca {color: #333}

  /* prezzi */
  div#prodotto  #prezzi {color: #999; font-family: "Roboto", sans-serif; font-size: 14px}
  div#prodotto  #prezzi .prezzo {color: #0f0000; display: inline-block; font-size: 40px; font-weight: 700; letter-spacing: -1pt; margin-right: 10px}
  div#prodotto  #prezzi .sconto {color: #e85c1e; display: inline-block; font-size: 20px; font-weight: 700; margin-right: 10px}
  div#prodotto  #prezzi .vecchio {color: #999; text-decoration: line-through}

  /* select */
  .label1 {color: #333; margin: 8px 0}
  .select1 {-moz-appearance: none; -webkit-appearance: none; appearance: none}
  .select1 {background: rgba(0, 0, 0, 0) url(../img/icon/down-arrow.png) no-repeat scroll 97% center; border: medium none; box-shadow: 0 0 4px rgba(0, 0, 0, 0.1); color: #333; height: 40px; margin-bottom: 20px; width: 100%}
  .select1 option {font-size: 13px; padding: 2px 0 0 20px}

  /* quantita */
  .cart-plus-minus {border: 1px solid #dedede; font-size: 30px; height: 46px; text-align: center; width: 90px; color: #666}
  .qtybutton {background: #dedede none repeat scroll 0 0; color: #000; height: 100%; width: 30%}
  .dec.qtybutton, .inc.qtybutton {cursor: pointer}
  .dec.qtybutton {float: left; line-height: 1.4}
  .inc.qtybutton {float: right; line-height: 1.5}
  input.cart-plus-minus-box {background: transparent none repeat scroll 0 0; box-shadow: none; color: #333; font-family: "Roboto", sans-serif; height: 100%; margin-bottom: 0; padding: 0; text-align: center; width: 40%}

  /* aggiungi al carrello */
  div#prodotto #aggiungi .cart {margin-bottom: 15px}
  div#prodotto #aggiungi .cart .bottone1 {font-size: 18px; margin-left: 15px; width: 71%}
  div#prodotto #aggiungi .consegna {color: #333; font-size: 13px; line-height: 16px; overflow: hidden}
    div#prodotto #aggiungi .consegna .zmdi {font-size: 25px; margin: 0 50px 5px 25px}
    div#prodotto #aggiungi .consegna .zmdi-hc-border-circle {border-width: 0.05em}

  /* servizi */
  div#prodotto #servizi {color: #333; font-size: 12px; margin-top: 10px}
    div#prodotto #servizi .zmdi {font-size: 14px}

  /* tab */
  .single-product-tab p {color: #333}
  .reviews-tab li {display: inline-block; margin-right: 35px}
  .reviews-tab li:last-child {margin-right: 0}
  .reviews-tab li a {color: #333; display: block; font-size: 16px; font-weight: 600; line-height: 20px; text-transform: uppercase}
  .reviews-tab li.active a {border-bottom: 4px solid #F60}
  #descrizione, #descrizione p {font-size: 14px}
  #descrizione .tabella1 th {background: #f4f4f4;}
  #descrizione .tabella1 th, #descrizione .tabella1 td {padding: 0 3px}
  #descrizione .tabella1 th {padding: 0 3px}

  /* prodotti correlati */
  .related-product-area h2.uppercase {font-size: 22px; font-weight: 700; line-height: 24px}
  .related-product-area .correlato {border: 1px solid #F6F6F6; margin-bottom: 30px; transition: all 0.3s ease 0s}
  .correlato img {width: 100%}
  .correlato .info {background: #F6F6F6 none repeat scroll 0 0; padding: 5px; text-align: center}
  .correlato .info .titolo {color: #434343; font-family: "Raleway",sans-serif; font-size: 12px; margin-bottom: 10px; overflow: hidden; text-overflow: ellipsis}
  .correlato .info .prezzo {font-weight: bold}

  /* finestra modale */
  #productModal .modal-dialog {margin-top: 12%; max-width: 60%; z-index: 999999}
  #productModal .modal-dialog h2 {color: #060; font-weight: 700; margin-bottom: 20px; text-align: center}
  .modal-product .product-images {width: 28%}
  .modal-product .product-info {color: #333; padding-top: 0; width: 72%}
  .modal-product .product-info h1 {font-size: 20px !important; font-weight: 500; line-height: 22px; text-transform: none}
  .modal-product .product-info .quick-add-to-cart {border-bottom: 0; margin-bottom: 0; padding: 30px 0 0}
  .quick-add-to-cart .single_add_to_cart_button {background: #f60; padding: 0 36px}
    .quick-add-to-cart .single_add_to_cart_button:first-child {background: #060; margin-left: 0}

/* CLASSI & IDs */
  .arancione {color: #f60}

  /* bottoni */
  .bottone1, .bottone2 {background: #060 none repeat scroll 0 0; border: medium none; border-radius: 3px; color: #fff; font-weight: 700; height: 45px;padding: 0 15px; transition: all 0.3s ease 0s}
  .bottone1.largo, .bottone2.largo {width: 100%}
  .bottone1:hover, .bottone2:hover {background: #FF7F00 none repeat scroll 0 0}
  .bottone2 {background: #f60}
  .bottone2:hover {background: #666}

  /* tabelle */
  .tabella1 th, .tabella1 td {border: 1px solid #DBDBDB; color: #333; font-size: 12px; padding: 2px 10px}
  .tabella1 th {background: #DBDBDB}
  .tabella1 td {background: #FFF}
  .tabella1 tr.selezionata td {background: #060; color: #FFF}

  .plr-126 {padding: 0 126px}