<template>
  <div id="prodotto" class="wrapper">
    <BaseHeader />
    <BaseHeaderMobile />

    <NavigazioneProdotto />

    <section id="page-content" class="page-wrapper">
      <div class="shop-section mb-80">
        <div class="container">
          <div class="row">
            <div class="col-md-12 col-xs-12">
              <div class="single-product-area mb-80">
                <div class="row">
                  <div class="col-md-5 col-sm-5 col-xs-12">
                    <GalleriaProdotto />
                  </div>

                  <div class="col-md-push-1 col-md-6 col-sm-7 col-xs-12">
                    <div class="single-product-info">
                      <h1 class="text-black-1">
                        Coperta da box Waffeloptik con cinghie e imbottitura
                        antifiaccatura sul garrese di colore blu
                      </h1>

                      <hr />

                      <div class="row">
                        <div class="col-md-8">
                          <Marca />
                        </div>
                        <div class="col-md-4">
                          <!-- <Rating /> -->
                        </div>
                      </div>

                      <hr />

                      <SelectVarianti />

                      <Prezzi />

                      <hr />

                      <SelectTendine />

                      <hr />

                      <div class="row" id="aggiungi">
                        <div class="col-sm-12">
                          <form method="post" class="cart">
                            <div class="cart-plus-minus f-left hidden-xs">
                              <input
                                type="text"
                                value="1"
                                name="qtybutton"
                                class="cart-plus-minus-box"
                              />
                            </div>
                            <button
                              class="bottone1"
                              type="button"
                              v-if="acquistabile"
                              data-toggle="modal"
                              data-target="#productModal"
                            >AGGIUNGI AL CARRELLO</button>
                            <button
                              class="bottone1 disabilitato"
                              type="button"
                              v-else
                            >SCEGLI LE TENDINE</button>
                          </form>
                        </div>
                        <div class="col-sm-12">
                          <Consegna />
                        </div>
                      </div>

                      <Servizi />
                    </div>
                  </div>
                </div>
              </div>

              <div class="single-product-tab mb-70">
                <ul class="reviews-tab mb-20">
                  <li class="active">
                    <a href="#descrizione" data-toggle="tab">descrizione</a>
                  </li>
                  <li>
                    <a href="#pagamenti" data-toggle="tab">pagamenti</a>
                  </li>
                  <li>
                    <a href="#spedizione" data-toggle="tab">spedizione</a>
                  </li>
                </ul>

                <div class="tab-content">
                  <div role="tabpanel" class="tab-pane active" id="descrizione">
                    <TabellaVarianti />
                    <p>
                      <strong>
                        Sella inglese Pro light in PU leather con doppia
                        imbottitura, seggio soffice e confortevole e quartieri
                        in cuoio liscio.
                      </strong>
                    </p>
                    <p>
                      Questa Sella è indubbiamente la migliore tra quelle di
                      fascia economica, con un ottimo rapporto qualità prezzo.
                    </p>
                    <p>È una sella molto resistente e di ottima qualità.</p>
                    <p>
                      Realizzata in materiale ecopelle lucido e morbido al
                      tatto, è molto più resistente rispetto alle selle della
                      stessa gamma.
                    </p>
                    <p>
                      Ideale per chi cerca una sella economica ma di ottima
                      consistenza. Sella leggera, ideale sia per salto ostacoli
                      che per lunghe passeggiate, permette un vantaggioso
                      utilizzo senza creare problemi di fiaccatura al cavallo.
                    </p>
                    <p>
                      <strong>
                        La sella è completa di tutti gli accessori. Puoi
                        personalizzare il completo scegliendo le misure e i
                        colori degli accessori.
                      </strong>
                    </p>
                    <p>
                      - Sella disponibilità nelle Misure dalla 15" alla 18".
                      Colore Nero, marrone.
                      <br />- Sottosella inglese trapuntato. Forma: Sagomato
                      oppure Rettangolare / Colore Nero, Blu, Bianco.
                      <br />-
                      Staffe inglesi in ferro nichelato con pedane in gomma
                      misura 12
                      <br />- Staffili in vero cuoio lunghezza 145 cm.
                      <br />- Sottopancia inglese in tessuto con elastici e
                      fibbie inox. Misura: 100, 105, 110, 115, 120, 130, 140,
                      150 cm / Colore Nero, marrone.
                      <br />- Briglia inglese in
                      vero cuoio con redini in tela. Misura: pony, cob, full /
                      Colore Nero, marrone.
                    </p>
                  </div>

                  <TabPagamenti />

                  <TabSpedizione />
                </div>
              </div>

              <ProdottiCorrelati />
            </div>
          </div>
        </div>
      </div>
    </section>

    <BaseFooter />
    <ConfermaAcquisto />
  </div>
</template>

<script>
import NavigazioneProdotto from "@/components/prodotto/NavigazioneProdotto.vue";
import GalleriaProdotto from "@/components/prodotto/GalleriaProdotto.vue";
import Marca from "@/components/prodotto/Marca.vue";
import SelectVarianti from "@/components/prodotto/SelectVarianti.vue";
import Prezzi from "@/components/prodotto/Prezzi.vue";
import SelectTendine from "@/components/prodotto/SelectTendine.vue";
import Consegna from "@/components/prodotto/Consegna.vue";
import Servizi from "@/components/prodotto/Servizi.vue";
import TabellaVarianti from "@/components/prodotto/TabellaVarianti.vue";
import TabPagamenti from "@/components/prodotto/TabPagamenti.vue";
import TabSpedizione from "@/components/prodotto/TabSpedizione.vue";
import ProdottiCorrelati from "@/components/prodotto/ProdottiCorrelati.vue";
import ConfermaAcquisto from "@/components/prodotto/ConfermaAcquisto.vue";

export default {
  components: {
    NavigazioneProdotto,
    GalleriaProdotto,
    Marca,
    SelectVarianti,
    Prezzi,
    SelectTendine,
    Consegna,
    Servizi,
    TabellaVarianti,
    TabPagamenti,
    TabSpedizione,
    ProdottiCorrelati,
    ConfermaAcquisto
  },

  data() {
    return {
      acquistabile: true
    };
  }
};
</script>

<style scoped></style>
