<template>
  <div class="wrapper">
    <BaseHeader />
    <BaseHeaderMobile />

    <NivoSlider />

    <!-- Start page content -->
    <section id="page-content" class="page-wrapper">
      <!-- BLOG SECTION START -->
      <div class="blog-section">
        <div class="container">
          <div class="blog">
            <div class="row active-blog">
              <!-- blog-item start -->
              <div class="col-xs-12">
                <h5 class="blog-title">
                  <a href="single-blog.html">Coperte per cavalli</a>
                </h5>
                <div class="blog-item">
                  <img
                    src="img/blog/coperte-cavalli.jpg"
                    alt="Coperte per cavalli"
                    width="370"
                    height="300"
                  />
                  <div class="blog-desc">
                    <ul>
                      <li>
                        <strong>&gt;</strong> Coperte da Box
                      </li>
                      <li>
                        <strong>&gt;</strong> Coperte da Paddock
                      </li>
                      <li>
                        <strong>&gt;</strong> Coperte a Rete
                      </li>
                      <li>
                        <strong>&gt;</strong> Coperte Pile
                      </li>
                    </ul>
                    <div class="read-more">
                      <a href="single-blog.html">VEDI TUTTO</a>
                    </div>
                  </div>
                </div>
              </div>
              <!-- blog-item end -->

              <!-- blog-item start -->
              <div class="col-xs-12">
                <h5 class="blog-title">
                  <a href="single-blog.html">Abbigliamento inglese</a>
                </h5>
                <div class="blog-item">
                  <img
                    src="img/blog/abbigliamento-inglese.jpg"
                    alt="Abbigliamento inglese"
                    width="370"
                    height="300"
                  />
                  <div class="blog-desc">
                    <ul>
                      <li>
                        <strong>&gt;</strong> Giacche Concorso
                      </li>
                      <li>
                        <strong>&gt;</strong> Stivali Inglesi Concorso
                      </li>
                      <li>
                        <strong>&gt;</strong> Cap Caschi Equitazione
                      </li>
                      <li>
                        <strong>&gt;</strong> Guanti Equitazione
                      </li>
                    </ul>
                    <div class="read-more">
                      <a href="single-blog.html">VEDI TUTTO</a>
                    </div>
                  </div>
                </div>
              </div>
              <!-- blog-item end -->

              <!-- blog-item start -->
              <div class="col-xs-12">
                <h5 class="blog-title">
                  <a href="single-blog.html">Recinzioni elettriche</a>
                </h5>
                <div class="blog-item">
                  <img
                    src="img/blog/recinzioni-elettriche.jpg"
                    alt="Recinzioni elettriche"
                    width="370"
                    height="300"
                  />
                  <div class="blog-desc">
                    <ul>
                      <li>
                        <strong>&gt;</strong> Set Recinti Elettrici
                      </li>
                      <li>
                        <strong>&gt;</strong> Elettrificatori e Pannelli
                      </li>
                      <li>
                        <strong>&gt;</strong> Fettucce e Bande
                      </li>
                      <li>
                        <strong>&gt;</strong> Fili e Corde
                      </li>
                    </ul>
                    <div class="read-more">
                      <a href="single-blog.html">VEDI TUTTO</a>
                    </div>
                  </div>
                </div>
              </div>
              <!-- blog-item end -->
            </div>
          </div>
        </div>
      </div>

      <div class="blog-section mb-50">
        <div class="container">
          <div class="blog">
            <div class="row active-blog">
              <!-- blog-item start -->
              <div class="col-xs-12">
                <h5 class="blog-title">
                  <a href="single-blog.html">Cura del cavallo</a>
                </h5>
                <div class="blog-item">
                  <img
                    src="img/blog/cura-cavallo.jpg"
                    alt="Cura del cavallo"
                    width="370"
                    height="300"
                  />
                  <div class="blog-desc">
                    <ul>
                      <li>
                        <strong>&gt;</strong> Integratori per Cavalli
                      </li>
                      <li>
                        <strong>&gt;</strong> Sale e Reidratanti
                      </li>
                      <li>
                        <strong>&gt;</strong> Grooming Cavallo
                      </li>
                      <li>
                        <strong>&gt;</strong> Repellenti Insetti
                      </li>
                    </ul>
                    <div class="read-more">
                      <a href="single-blog.html">VEDI TUTTO</a>
                    </div>
                  </div>
                </div>
              </div>
              <!-- blog-item end -->

              <!-- blog-item start -->
              <div class="col-xs-12">
                <h5 class="blog-title">
                  <a href="single-blog.html">Selle inglesi</a>
                </h5>
                <div class="blog-item fisso">
                  <div class="blog-desc">
                    <ul>
                      <li>
                        <a href="#">
                          <strong>&gt;</strong> Mangiatoie per Cavalli
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <strong>&gt;</strong> Abbeveratoi per Cavalli
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <strong>&gt;</strong> Forche Scuderia
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <strong>&gt;</strong> Reti per Fieno
                        </a>
                      </li>
                    </ul>
                    <div class="read-more">
                      <a href="single-blog.html">VEDI TUTTO</a>
                    </div>
                  </div>
                </div>
              </div>
              <!-- blog-item end -->

              <!-- blog-item start -->
              <div class="col-xs-12">
                <h5 class="blog-title">
                  <a href="single-blog.html">Scuderia e paddock</a>
                </h5>
                <div class="blog-item">
                  <img
                    src="img/blog/scuderia-paddock.jpg"
                    alt="Scuderia e paddock"
                    width="370"
                    height="300"
                  />
                  <div class="blog-desc">
                    <ul>
                      <li>
                        <strong>&gt;</strong> Mangiatoie per Cavalli
                      </li>
                      <li>
                        <strong>&gt;</strong> Abbeveratoi per Cavalli
                      </li>
                      <li>
                        <strong>&gt;</strong> Forche Scuderia
                      </li>
                      <li>
                        <strong>&gt;</strong> Reti per Fieno
                      </li>
                    </ul>
                    <div class="read-more">
                      <a href="single-blog.html">VEDI TUTTO</a>
                    </div>
                  </div>
                </div>
              </div>
              <!-- blog-item end -->
            </div>
          </div>
        </div>
      </div>
      <!-- BLOG SECTION END -->

      <!-- UP COMMING PRODUCT SECTION START -->
      <div class="up-comming-product-section mb-80">
        <div class="container">
          <div class="row">
            <!-- up-comming-pro -->
            <div class="col-md-8 col-sm-12 col-xs-12">
              <div class="up-comming-pro gray-bg clearfix">
                <div class="wrapper">
                  <div class="up-comming-pro-img f-left">
                    <a href="#">
                      <img src="img/blog/top-seller.png" alt="TOP SELLER" />
                    </a>
                  </div>
                  <div class="up-comming-pro-info f-left">
                    <h3>
                      <a href="#">TOP SELLER EQUITAZIONE</a>
                    </h3>
                    <ul>
                      <li>
                        <a href="#">
                          <strong>&gt;</strong> Arnica per Cavalli
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <strong>&gt;</strong> Sale e Reidratanti
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <strong>&gt;</strong> Fasce e Sottofasce
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <strong>&gt;</strong> Briglie Inglesi
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <strong>&gt;</strong> Protezioni per Cavalli
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4 hidden-sm col-xs-12">
              <div class="banner-item banner-1 gray-bg">
                <div class="ribbon-price">
                  <span>€ 530,00</span>
                </div>
                <div class="banner-img">
                  <a href="#">
                    <img src="img/bg/trasparente.gif" />
                  </a>
                </div>
                <div class="banner-info">
                  <p>
                    Sella da salto Supreme Evolution in cuoio Francese
                    martellato con staffili, sottopancia, briglia, sottosella e
                    staffe
                  </p>
                  <img
                    src="img/blog/sella-supreme.png"
                    width="302"
                    height="244"
                    alt="Sella Supreme"
                    class="f-right"
                  />
                  <p>
                    Marca:
                    <br />
                    <strong>Supreme</strong>
                  </p>
                  <p>
                    <strong>Circa 30%</strong>
                    <br />di risparmio
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- UP COMMING PRODUCT SECTION END -->

      <!-- MARCHE -->
      <div class="marche mb-60 plr-126">
        <div class="container">
          <div class="row">
            <div class="col-xs-3 col-md-1 mb-20 text-center">
              <a href="#">
                <img
                  src="https://www.nonsolocavallo.it/_public2/img/marche/acavallo.jpg"
                  alt="Nome della marca"
                />
              </a>
            </div>
            <div class="col-xs-3 col-md-1 mb-20 text-center">
              <a href="#">
                <img
                  src="https://www.nonsolocavallo.it/_public2/img/marche/umbria-equitazione.jpg"
                  alt="Nome della marca"
                />
              </a>
            </div>
            <div class="col-xs-3 col-md-1 mb-20 text-center">
              <a href="#">
                <img
                  src="https://www.nonsolocavallo.it/_public2/img/marche/sivam.jpg"
                  alt="Nome della marca"
                />
              </a>
            </div>
            <div class="col-xs-3 col-md-1 mb-20 text-center">
              <a href="#">
                <img
                  src="https://www.nonsolocavallo.it/_public2/img/marche/flika.jpg"
                  alt="Nome della marca"
                />
              </a>
            </div>
            <div class="col-xs-3 col-md-1 mb-20 text-center">
              <a href="#">
                <img
                  src="https://www.nonsolocavallo.it/_public2/img/marche/pioneer.jpg"
                  alt="Nome della marca"
                />
              </a>
            </div>
            <div class="col-xs-3 col-md-1 mb-20 text-center">
              <a href="#">
                <img
                  src="https://www.nonsolocavallo.it/_public2/img/marche/acavallo.jpg"
                  alt="Nome della marca"
                />
              </a>
            </div>
            <div class="col-xs-3 col-md-1 mb-20 text-center">
              <a href="#">
                <img
                  src="https://www.nonsolocavallo.it/_public2/img/marche/umbria-equitazione.jpg"
                  alt="Nome della marca"
                />
              </a>
            </div>
            <div class="col-xs-3 col-md-1 mb-20 text-center">
              <a href="#">
                <img
                  src="https://www.nonsolocavallo.it/_public2/img/marche/sivam.jpg"
                  alt="Nome della marca"
                />
              </a>
            </div>
            <div class="col-xs-3 col-md-1 mb-20 text-center">
              <a href="#">
                <img
                  src="https://www.nonsolocavallo.it/_public2/img/marche/flika.jpg"
                  alt="Nome della marca"
                />
              </a>
            </div>
            <div class="col-xs-3 col-md-1 mb-20 text-center">
              <a href="#">
                <img
                  src="https://www.nonsolocavallo.it/_public2/img/marche/pioneer.jpg"
                  alt="Nome della marca"
                />
              </a>
            </div>
            <div class="col-xs-3 col-md-1 mb-20 text-center">
              <a href="#">
                <img
                  src="https://www.nonsolocavallo.it/_public2/img/marche/acavallo.jpg"
                  alt="Nome della marca"
                />
              </a>
            </div>
            <div class="col-xs-3 col-md-1 mb-20 text-center">
              <a href="#">
                <img
                  src="https://www.nonsolocavallo.it/_public2/img/marche/umbria-equitazione.jpg"
                  alt="Nome della marca"
                />
              </a>
            </div>
            <div class="col-xs-3 col-md-1 mb-20 text-center">
              <a href="#">
                <img
                  src="https://www.nonsolocavallo.it/_public2/img/marche/sivam.jpg"
                  alt="Nome della marca"
                />
              </a>
            </div>
            <div class="col-xs-3 col-md-1 mb-20 text-center">
              <a href="#">
                <img
                  src="https://www.nonsolocavallo.it/_public2/img/marche/flika.jpg"
                  alt="Nome della marca"
                />
              </a>
            </div>
            <div class="col-xs-3 col-md-1 mb-20 text-center">
              <a href="#">
                <img
                  src="https://www.nonsolocavallo.it/_public2/img/marche/pioneer.jpg"
                  alt="Nome della marca"
                />
              </a>
            </div>
            <div class="col-xs-3 col-md-1 mb-20 text-center">
              <a href="#">
                <img
                  src="https://www.nonsolocavallo.it/_public2/img/marche/acavallo.jpg"
                  alt="Nome della marca"
                />
              </a>
            </div>
            <div class="col-xs-3 col-md-1 mb-20 text-center">
              <a href="#">
                <img
                  src="https://www.nonsolocavallo.it/_public2/img/marche/umbria-equitazione.jpg"
                  alt="Nome della marca"
                />
              </a>
            </div>
            <div class="col-xs-3 col-md-1 mb-20 text-center">
              <a href="#">
                <img
                  src="https://www.nonsolocavallo.it/_public2/img/marche/sivam.jpg"
                  alt="Nome della marca"
                />
              </a>
            </div>
            <div class="col-xs-3 col-md-1 mb-20 text-center">
              <a href="#">
                <img
                  src="https://www.nonsolocavallo.it/_public2/img/marche/flika.jpg"
                  alt="Nome della marca"
                />
              </a>
            </div>
            <div class="col-xs-3 col-md-1 mb-20 text-center">
              <a href="#">
                <img
                  src="https://www.nonsolocavallo.it/_public2/img/marche/pioneer.jpg"
                  alt="Nome della marca"
                />
              </a>
            </div>
            <div class="col-xs-3 col-md-1 mb-20 text-center">
              <a href="#">
                <img
                  src="https://www.nonsolocavallo.it/_public2/img/marche/acavallo.jpg"
                  alt="Nome della marca"
                />
              </a>
            </div>
            <div class="col-xs-3 col-md-1 mb-20 text-center">
              <a href="#">
                <img
                  src="https://www.nonsolocavallo.it/_public2/img/marche/umbria-equitazione.jpg"
                  alt="Nome della marca"
                />
              </a>
            </div>
            <div class="col-xs-3 col-md-1 mb-20 text-center">
              <a href="#">
                <img
                  src="https://www.nonsolocavallo.it/_public2/img/marche/sivam.jpg"
                  alt="Nome della marca"
                />
              </a>
            </div>
            <div class="col-xs-3 col-md-1 mb-20 text-center">
              <a href="#">
                <img src="img/brand/vedi-tutte.jpg" alt="Vedi tutte le marche" />
              </a>
            </div>
          </div>
        </div>
      </div>
      <!-- /MARCHE -->

      <!-- PRODUCT TAB SECTION START -->
      <div class="product-tab-section mb-50">
        <div class="container">
          <div class="product-tab">
            <!-- Tab panes -->
            <div class="tab-content">
              <!-- popular-product start -->
              <div class="tab-pane active" id="popular-product">
                <div class="row">
                  <!-- product-item start -->
                  <div class="col-md-3 col-sm-4 col-xs-12">
                    <div class="product-item">
                      <div class="product-img">
                        <a href="single-product.html">
                          <img src="https://www.nonsolocavallo.it/foto/mobile/ni1040305-c.jpg" alt />
                        </a>
                      </div>
                      <div class="product-info">
                        <h6 class="product-title">
                          <a href="single-product.html">
                            <strong>Marca</strong>
                            <br />Nome del prodotto1
                          </a>
                        </h6>
                        <h3 class="pro-price">€ 1234,56</h3>
                      </div>
                    </div>
                  </div>
                  <!-- product-item end -->
                  <!-- product-item start -->
                  <div class="col-md-3 col-sm-4 col-xs-12">
                    <div class="product-item">
                      <div class="product-img">
                        <a href="single-product.html">
                          <img src="https://www.nonsolocavallo.it/foto/mobile/neva00397-c.jpg" alt />
                        </a>
                      </div>
                      <div class="product-info">
                        <h6 class="product-title">
                          <a href="single-product.html">
                            <strong>Marca</strong>
                            <br />Nome del prodotto2
                          </a>
                        </h6>
                        <h3 class="pro-price">€ 1234,56</h3>
                      </div>
                    </div>
                  </div>
                  <!-- product-item end -->
                  <!-- product-item start -->
                  <div class="col-md-3 col-sm-4 col-xs-12">
                    <div class="product-item">
                      <div class="product-img">
                        <a href="single-product.html">
                          <img src="https://www.nonsolocavallo.it/foto/mobile/neva00036-c.jpg" alt />
                        </a>
                      </div>
                      <div class="product-info">
                        <h6 class="product-title">
                          <a href="single-product.html">
                            <strong>Marca</strong>
                            <br />Nome del prodotto3
                          </a>
                        </h6>
                        <h3 class="pro-price">€ 1234,56</h3>
                      </div>
                    </div>
                  </div>
                  <!-- product-item end -->
                  <!-- product-item start -->
                  <div class="col-md-3 col-sm-4 col-xs-12">
                    <div class="product-item">
                      <div class="product-img">
                        <a href="single-product.html">
                          <img src="https://www.nonsolocavallo.it/foto/mobile/neac410-c.jpg" alt />
                        </a>
                      </div>
                      <div class="product-info">
                        <h6 class="product-title">
                          <a href="single-product.html">
                            <strong>Marca</strong>
                            <br />Nome del prodotto4
                          </a>
                        </h6>
                        <h3 class="pro-price">€ 1234,56</h3>
                      </div>
                    </div>
                  </div>
                  <!-- product-item end -->
                </div>
              </div>
              <!-- popular-product end -->
            </div>
          </div>
        </div>
      </div>
      <!-- PRODUCT TAB SECTION END -->

      <!-- BLOG SECTION START -->
      <div class="blog-section mb-50 piccoli_amici">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="section-title text-left mb-40">
                <h2 class="uppercase">Per i piccoli amici</h2>
              </div>
            </div>
          </div>
          <div class="blog">
            <div class="row active-blog">
              <!-- blog-item start -->
              <div class="col-xs-12">
                <div class="row">
                  <div class="col-xs-12">
                    <h5 class="blog-title">
                      <a href="single-blog.html">Abbigliamento per cani</a>
                    </h5>
                    <div class="blog-item">
                      <img
                        src="img/blog/abbigliamento-cani.jpg"
                        alt="Abbigliamento per cani"
                        width="370"
                        height="300"
                      />
                      <div class="blog-desc">
                        <ul>
                          <li>
                            <strong>&gt;</strong> Cappotti per Cani
                          </li>
                          <li>
                            <strong>&gt;</strong> Impermeabili per Cani
                          </li>
                          <li>
                            <strong>&gt;</strong> Maglioncini e Dolcevita
                          </li>
                          <li>
                            <strong>&gt;</strong> T-shirt e Felpe Cani
                          </li>
                        </ul>
                        <div class="read-more">
                          <a href="single-blog.html">VEDI TUTTO</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-xs-12">
                    <h5 class="blog-title">
                      <a href="single-blog.html">Forza 10 per cani e gatti</a>
                    </h5>
                    <div class="blog-item">
                      <img
                        src="img/blog/forza10-cani-gatti.jpg"
                        alt="Forza 10 per cani e gatti"
                        width="370"
                        height="300"
                      />
                      <div class="blog-desc">
                        <ul>
                          <li>
                            <strong>&gt;</strong> Forza 10 Maintenance
                          </li>
                          <li>
                            <strong>&gt;</strong> Forza 10 Active Secco
                          </li>
                          <li>
                            <strong>&gt;</strong> Forza 10 Activewet
                          </li>
                          <li>
                            <strong>&gt;</strong> Legend e Nutraceutica
                          </li>
                        </ul>
                        <div class="read-more">
                          <a href="single-blog.html">VEDI TUTTO</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- blog-item end -->

              <!-- blog-item start -->
              <div class="col-xs-12">
                <h5 class="blog-title">
                  <a href="single-blog.html">Cucce e lettini</a>
                </h5>
                <div class="blog-item">
                  <img
                    src="img/blog/cucce-lettini.jpg"
                    alt="Cucce e lettini"
                    width="370"
                    height="655"
                  />
                  <div class="blog-desc">
                    <ul>
                      <li>
                        <strong>&gt;</strong> Brandine, Letti, Divani
                      </li>
                      <li>
                        <strong>&gt;</strong> Casette e Tunnel
                      </li>
                      <li>
                        <strong>&gt;</strong> Cucce da Esterno
                      </li>
                      <li>
                        <strong>&gt;</strong> Cucce da Interno
                      </li>
                      <li>
                        <strong>&gt;</strong> Cuscini e Materassi
                      </li>
                      <li>
                        <strong>&gt;</strong> Porte per Cani
                      </li>
                    </ul>
                    <div class="read-more">
                      <a href="single-blog.html">VEDI TUTTO</a>
                    </div>
                  </div>
                </div>
              </div>
              <!-- blog-item end -->
              <!-- blog-item start -->
              <div class="col-xs-12">
                <h5 class="blog-title">
                  <a href="single-blog.html">Monge Superpremium</a>
                </h5>
                <div class="blog-item">
                  <img
                    src="img/blog/monge-superpremium.jpg"
                    alt="Monge Superpremium"
                    width="370"
                    height="655"
                  />
                  <div class="blog-desc">
                    <ul>
                      <li>
                        <strong>&gt;</strong> Superpremium Cani
                      </li>
                      <li>
                        <strong>&gt;</strong> Superpremium Gatti
                      </li>
                      <li>
                        <strong>&gt;</strong> VetSolution Canine
                      </li>
                      <li>
                        <strong>&gt;</strong> VetSolution Feline
                      </li>
                      <li>
                        <strong>&gt;</strong> Monge Natural Cat
                      </li>
                      <li>
                        <strong>&gt;</strong> Monge Jelly e Delicate
                      </li>
                    </ul>
                    <div class="read-more">
                      <a href="single-blog.html">VEDI TUTTO</a>
                    </div>
                  </div>
                </div>
              </div>
              <!-- blog-item end -->
            </div>
          </div>
        </div>
      </div>
      <!-- BLOG SECTION END -->

      <!-- pre footer -->
      <div class="pre-footer mb-50 plr-126">
        <div class="container">
          <h3>Contattaci per ogni informazione</h3>

          <div class="row">
            <div class="col-md-3">
              <div class="row mb-20">
                <div class="col-xs-4 text-center">
                  <img src="img/icon/telefono.png" width="36" height="50" alt="telefono" />
                </div>
                <div class="col-xs-8">
                  <a href="tel:+390362990913" class="big">+39 0362 990913</a>
                  <br />lun-ven 08:00 - 19:00
                </div>
              </div>

              <div class="row mb-20">
                <div class="col-xs-4 text-center">
                  <img src="img/icon/email.png" width="48" height="33" alt="email" />
                </div>
                <div class="col-xs-8">
                  <a href="mailto:info@horsepet.it" class="big">info@horsepet.it</a>
                  <br />o compila il modulo
                </div>
              </div>
            </div>

            <div class="col-md-3 mb-20 clearfix">
              <div class="col-xs-4 text-center">
                <img src="img/icon/pick-up.png" width="31" height="44" alt="pick up" />
              </div>
              <div class="col-xs-8">
                <strong class="big">Pick up</strong>
                <br />Ritiro in sede presso Studio Origgi
                <br />Via della Valle
                46/A
                <br />20841
                <strong>Carate Brianza</strong>
                <br />lun-ven 08:00 - 19:00
              </div>
            </div>

            <div class="col-md-3 mb-20 clearfix">
              <div class="col-xs-4 text-center">
                <img
                  src="img/icon/consegna-gratis.png"
                  width="55"
                  height="46"
                  alt="consegna gratis"
                />
              </div>
              <div class="col-xs-8">
                <strong class="big">Consegna gratis</strong>
                <br />in Italia per ordini
                <br />superiori a
                <strong>€ 39,00</strong>
              </div>
            </div>

            <div class="col-md-3">
              <div class="col-xs-4 text-center">
                <img src="img/icon/resi.png" width="57" height="52" alt="resi" />
              </div>
              <div class="col-xs-8">
                <strong class="big">Resi entro 30 giorni</strong>
                <br />Puoi sostituire la merce
                <br />ricevuta entro 30 giorni
                <br />dall'acquisto
                <br />
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End page content -->

    <BaseFooter />
  </div>
</template>

<script>
import NivoSlider from "@/components/home/NivoSlider.vue";

export default {
  name: "Home",
  components: {
    NivoSlider
  }
};
</script>
