<template>
  <div class="wrapper">
    <BaseHeader />
    <BaseHeaderMobile />

    <!-- breadcrumb -->
    <BreadCrumb />

    <!-- Start page content -->
    <div id="page-content" class="page-wrapper">
      <!-- SHOP SECTION START -->
      <div class="shop-section mb-80">
        <div class="container">
          <div class="row">
            <div class="col-md-9 col-md-push-3 col-xs-12">
              <div class="shop-content">
                <!-- ordinamento mobile -->
                <div class="row filtri-mobile hidden-md hidden-lg">
                  <div class="col-xs-6">
                    <button
                      class="bottone1"
                      type="button"
                      data-toggle="modal"
                      data-target="#catModal"
                    >CATEGORIE</button>
                  </div>
                  <div class="col-xs-6">
                    <button
                      class="bottone1"
                      type="button"
                      data-toggle="modal"
                      data-target="#filtersModal"
                    >FILTRA / ORDINA</button>
                  </div>
                </div>

                <OrdinamentoProdotti :numeroProdotti="risultati.totalElements" />

                <div class="row" v-show="!cibo">
                  <div v-for="(prodotto, id) in prodotti" :key="id">
                    <AnteprimaProdotto :prodotto="prodotto" />
                  </div>
                </div>

                <div class="tab-content" v-show="cibo" v-for="(prodotto, id) in prodotti" :key="id">
                  <div id="list-view">
                    <div class="row">
                      <div class="col-md-12">
                        <AnteprimaPappa :prodotto="prodotto" />
                      </div>
                    </div>
                  </div>
                </div>

                <paginate
                  v-model="pageNumber"
                  :pageCount="risultati.totalPages"
                  :clickHandler="vaiPagina"
                  :prevText="'<i class=\'zmdi zmdi-chevron-left\'></i>'"
                  :nextText="'<i class=\'zmdi zmdi-chevron-right\'></i>'"
                  :containerClass="
                    'shop-pagination box-shadow text-center ptblr-10-30'
                  "
                  :pageRange="9"
                ></paginate>
              </div>
            </div>

            <ColSx />
          </div>
        </div>
      </div>
      <!-- SHOP SECTION END -->
    </div>
    <!-- End page content -->

    <BaseFooter />

    <!-- mobile-filters_shop -->
  </div>
</template>

<script>
import axios from "axios";

import BreadCrumb from "@/components/categoria/BreadCrumb.vue";
import OrdinamentoProdotti from "@/components/categoria/OrdinamentoProdotti.vue";
import AnteprimaProdotto from "@/components/categoria/AnteprimaProdotto.vue";
import AnteprimaPappa from "@/components/categoria/AnteprimaPappa.vue";
import Paginate from "vuejs-paginate";
import ColSx from "@/components/categoria/ColSx.vue";

export default {
  components: {
    BreadCrumb,
    OrdinamentoProdotti,
    AnteprimaProdotto,
    AnteprimaPappa,
    Paginate,
    ColSx
  },

  data() {
    return {
      risultati: [],
      prodotti: [],
      prodotto: {
        id: "",
        brand: {
          label: ""
        }
      },
      size: 20
    };
  },

  computed: {
    //flag per indicare se sto mostrando delle pappe o prodotti normali
    cibo: function() {
      let valore = false;
      this.$route.params.layout === "Pappe" ? (valore = true) : valore;
      return valore;
    },

    //numero di pagina
    pageNumber: function() {
      let valore = 1;
      this.$route.query.page ? (valore = this.$route.query.page) : valore;
      return valore;
    },

    //ordinamento dei prodotti
    ordine: function() {
      let valore = "id,desc";
      this.$route.query.order ? (valore = this.$route.query.order) : valore;
      return valore;
    },

    //filtro prodotti
    features: function() {
      let valore = "";
      /*this.$route.query.features
        ? (valore = "features=" + this.$route.query.features)
        : (valore = "");*/
      return valore;
    },

    //indirizzo del JSON
    indirizzo: function() {
      let valore =
        "http://34.89.144.223:8080/horse-admin-backend/store/products/hp/IT/";
      this.cibo
        ? (valore =
            "http://34.89.144.223:8080/horse-admin-backend/store/babyfoods/hp/IT/")
        : valore;
      valore =
        valore +
        this.$route.params.id +
        "?page=" +
        this.pageNumber +
        "&size=" +
        this.size +
        "&sort=" +
        this.ordine +
        this.features;
      return valore;
    }
  },

  methods: {
    //navigazione tra le pagine
    vaiPagina(valore) {
      this.$router.push({
        name: "prodotti",
        params: {
          id: this.$route.params.id,
          titolo: this.$route.params.titolo
        },
        query: {
          page: valore,
          size: this.size,
          order: this.$route.query.order,
          features: this.$route.query.features
        }
      });
    }
  },

  created() {
    axios.get(this.indirizzo).then(response => {
      this.risultati = response.data;
      this.prodotti = response.data.content;
    });

    //salvo le caratteristiche della categoria nel web storage
    this.$storage.set("catAttuale", {
      id: this.$route.params.id,
      titolo: this.$route.params.titolo
    });
  }
};
</script>
