<template>
  <div>
    <div class="slider-area plr-126 mb-80">
      <div class="container-fluid">
        <div class="slider-content">
          <div class="row">
            <div class="active-slider-1 slick-arrow-1 slick-dots-1">
              <!-- layer-1 Start -->
              <div class="col-md-12">
                <div class="layer-1">
                  <div class="slider-img">
                    <img src="img/slider/slider-1/forza10.jpg" alt />
                  </div>
                  <div class="slider-info gray-bg">
                    <div class="slider-info-inner">
                      <h1 class="slider-title-1 text-uppercase text-black-1">
                        Fascia di rispetto
                      </h1>
                      <div class="slider-brief text-black-2">
                        <p>
                          La fascia elastica Zandonà aiuta a proteggere contro
                          le "fiaccature"
                        </p>
                      </div>
                      <a href="#" class="button extra-small button-black">
                        <span class="text-uppercase">Vedi subito</span>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <!-- layer-1 end -->
              <!-- layer-1 Start -->
              <div class="col-md-12">
                <div class="layer-1">
                  <div class="slider-img">
                    <img
                      src="img/slider/slider-1/safe-riding.jpg"
                      alt
                    />
                  </div>
                  <div class="slider-info gray-bg">
                    <div class="slider-info-inner">
                      <h1 class="slider-title-1 text-uppercase text-black-1">
                        Staffe di sicurezza
                      </h1>
                      <div class="slider-brief text-black-2">
                        <p>
                          Infinite cover personalizzabili. Per una monta sicura,
                          le staffe Safe Riding sono certificate S1 e S2
                          garantite da brevetti internazionali.
                        </p>
                      </div>
                      <a href="#" class="button extra-small button-black">
                        <span class="text-uppercase">Vedi subito</span>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <!-- layer-1 end -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
