<template>
  <header class="header-area header-wrapper">
    <!-- header-top-bar -->
    <div class="header-top-bar plr-126">
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-6 hidden-xs">
            <ul class="bottDropDwn hidden-sm hidden-xs">
              <li>
                <div class="btn-group">
                  <button
                    type="button"
                    class="btn btn-default dropdown-toggle"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
                  >
                    Servizio clienti
                    <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu">
                    <li>
                      <a href="#">Link1</a>
                    </li>
                    <li>
                      <a href="#">Link1</a>
                    </li>
                    <li>
                      <a href="#">Link1</a>
                    </li>
                    <li>
                      <a href="#">Link1</a>
                    </li>
                  </ul>
                </div>
              </li>
              <li>
                <div class="btn-group">
                  <button
                    type="button"
                    class="btn btn-default dropdown-toggle promo"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
                  >
                    Promo
                    <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu">
                    <li>
                      <a href="#">Link2</a>
                    </li>
                    <li>
                      <a href="#">Link2</a>
                    </li>
                    <li>
                      <a href="#">Link2</a>
                    </li>
                    <li>
                      <a href="#">Link2</a>
                    </li>
                  </ul>
                </div>
              </li>
              <li>
                <a href="#">Marche</a>
              </li>
              <li>
                <a href="#">Raccolta punti</a>
              </li>
            </ul>

            <ul class="bottDropDwn hidden-md hidden-lg">
              <li>
                <div class="btn-group">
                  <button
                    type="button"
                    class="btn btn-default dropdown-toggle"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
                  >
                    Naviga
                    <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu">
                    <li>
                      <a>EN - FR - DE - ES</a>
                    </li>
                    <li>
                      <a href="#">Servizio clienti</a>
                    </li>
                    <li>
                      <a href="#">Promo</a>
                    </li>
                    <li>
                      <a href="#">Marche</a>
                    </li>
                    <li>
                      <a href="#">Raccolta punti</a>
                    </li>
                  </ul>
                </div>
              </li>
            </ul>
          </div>
          <div class="col-sm-6 col-xs-12">
            <div class="top-link clearfix">
              <ul class="link f-right">
                <li>
                  <a href="my-account.html">
                    <i class="zmdi zmdi-account"></i>
                    Account
                  </a>
                </li>
                <li>
                  <a href="wishlist.html">
                    <i class="zmdi zmdi-favorite"></i>
                    Lista dei desideri (0)
                  </a>
                </li>
                <li>
                  <a href="login.html">
                    <i class="zmdi zmdi-lock"></i>
                    Login
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- header-middle-area -->
    <div id="sticky-header" class="header-middle-area plr-126">
      <div class="container-fluid">
        <div class="full-width-mega-dropdown">
          <div class="row">
            <!-- logo -->
            <div class="col-xs-12">
              <div class="logo">
                <a href="index.html">
                  <img src="img/logo/horse-pet.png" width="350" height="70" alt="HorsePet" />
                </a>
              </div>
            </div>
          </div>
          <div class="row">
            <!-- primary-menu -->
            <div class="col-md-10 hidden-sm hidden-xs">
              <nav id="primary-menu">
                <ul class="main-menu">
                  <li class="mega-parent">
                    <a href="#">CAVALLI</a>
                    <div class="mega-menu-area mega-menu-area-2 clearfix">
                      <div class="mega-menu-link mega-menu-link-4 f-left">
                        <ul class="single-mega-item">
                          <li class="menu-title">Elements 1</li>
                          <li>
                            <a href="elements-header-1-sticky.html">header-1-sticky</a>
                          </li>
                          <li>
                            <a href="elements-header-1-no-sticky.html">header-1-no-sticky</a>
                          </li>
                          <li>
                            <a href="elements-header-2-sticky.html">header-2-sticky</a>
                          </li>
                          <li>
                            <a href="elements-header-2-no-sticky.html">header-2-no-sticky</a>
                          </li>
                          <li>
                            <a href="elements-footer-1.html">footer-1</a>
                          </li>
                          <li>
                            <a href="elements-footer-2.html">footer-2</a>
                          </li>
                          <li>
                            <a href="elements-footer-3.html">footer-3</a>
                          </li>
                          <li>
                            <a href="elements-contact-form.html">Dynamic Contact Form</a>
                          </li>
                          <li>
                            <a href="elements-map.html">Google Map</a>
                          </li>
                        </ul>
                        <ul class="single-mega-item">
                          <li class="menu-title">Elements 2</li>
                          <li>
                            <a href="elements-featured-product-1.html">featured-product-1</a>
                          </li>
                          <li>
                            <a href="elements-featured-product-2.html">featured-product-2</a>
                          </li>
                          <li>
                            <a href="elements-product-tab-1.html">product-tab-1</a>
                          </li>
                          <li>
                            <a href="elements-product-tab-2.html">product-tab-2</a>
                          </li>
                          <li>
                            <a href="elements-up-comming-product-1.html">up-comming-product-1</a>
                          </li>
                          <li>
                            <a href="elements-up-comming-product-2.html">up-comming-product-2</a>
                          </li>
                          <li>
                            <a href="elements-single-product.html">single-product</a>
                          </li>
                          <li>
                            <a href="elements-sidebar-left.html">sidebar-left</a>
                          </li>
                          <li>
                            <a href="elements-sidebar-right.html">sidebar-right</a>
                          </li>
                        </ul>
                        <ul class="single-mega-item">
                          <li class="menu-title">Elements 3</li>
                          <li>
                            <a href="elements-section-title.html">section-title</a>
                          </li>
                          <li>
                            <a href="elements-pagination.html">pagination</a>
                          </li>
                          <li>
                            <a href="elements-banner.html">Banner</a>
                          </li>
                          <li>
                            <a href="elements-brands.html">Brands</a>
                          </li>
                          <li>
                            <a href="elements-breadcrumbs.html">Breadcrumbs</a>
                          </li>
                          <li>
                            <a href="elements-newsletter.html">Newsletter</a>
                          </li>
                          <li>
                            <a href="elements-team.html">team</a>
                          </li>
                          <li>
                            <a href="elements-audio.html">Audio</a>
                          </li>
                          <li>
                            <a href="elements-video.html">Video</a>
                          </li>
                        </ul>
                        <ul class="single-mega-item">
                          <li class="menu-title">Elements 4</li>
                          <li>
                            <a href="elements-typography.html">typography</a>
                          </li>
                          <li>
                            <a href="elements-buttons.html">Buttons</a>
                          </li>
                          <li>
                            <a href="elements-call-to-action.html">Call to Action</a>
                          </li>
                          <li>
                            <a href="elements-accordion.html">Accordion</a>
                          </li>
                          <li>
                            <a href="elements-alerts.html">Alerts</a>
                          </li>
                          <li>
                            <a href="elements-progress-bars.html">progress-bars</a>
                          </li>
                          <li>
                            <a href="elements-tab.html">tab</a>
                          </li>
                          <li>
                            <a href="elements-toggles.html">toggles</a>
                          </li>
                          <li>
                            <a href="elements-toggles.html">toggles</a>
                          </li>
                        </ul>

                        <ul class="single-mega-item">
                          <li class="menu-title">Elements 1</li>
                          <li>
                            <a href="elements-header-1-sticky.html">header-1-sticky</a>
                          </li>
                          <li>
                            <a href="elements-header-1-no-sticky.html">header-1-no-sticky</a>
                          </li>
                          <li>
                            <a href="elements-header-2-sticky.html">header-2-sticky</a>
                          </li>
                          <li>
                            <a href="elements-header-2-no-sticky.html">header-2-no-sticky</a>
                          </li>
                          <li>
                            <a href="elements-footer-1.html">footer-1</a>
                          </li>
                          <li>
                            <a href="elements-footer-2.html">footer-2</a>
                          </li>
                          <li>
                            <a href="elements-footer-3.html">footer-3</a>
                          </li>
                          <li>
                            <a href="elements-contact-form.html">Dynamic Contact Form</a>
                          </li>
                          <li>
                            <a href="elements-map.html">Google Map</a>
                          </li>
                        </ul>
                        <ul class="single-mega-item">
                          <li class="menu-title">Elements 2</li>
                          <li>
                            <a href="elements-featured-product-1.html">featured-product-1</a>
                          </li>
                          <li>
                            <a href="elements-featured-product-2.html">featured-product-2</a>
                          </li>
                          <li>
                            <a href="elements-product-tab-1.html">product-tab-1</a>
                          </li>
                          <li>
                            <a href="elements-product-tab-2.html">product-tab-2</a>
                          </li>
                          <li>
                            <a href="elements-up-comming-product-1.html">up-comming-product-1</a>
                          </li>
                          <li>
                            <a href="elements-up-comming-product-2.html">up-comming-product-2</a>
                          </li>
                          <li>
                            <a href="elements-single-product.html">single-product</a>
                          </li>
                          <li>
                            <a href="elements-sidebar-left.html">sidebar-left</a>
                          </li>
                          <li>
                            <a href="elements-sidebar-right.html">sidebar-right</a>
                          </li>
                        </ul>
                        <ul class="single-mega-item">
                          <li class="menu-title">Elements 3</li>
                          <li>
                            <a href="elements-section-title.html">section-title</a>
                          </li>
                          <li>
                            <a href="elements-pagination.html">pagination</a>
                          </li>
                          <li>
                            <a href="elements-banner.html">Banner</a>
                          </li>
                          <li>
                            <a href="elements-brands.html">Brands</a>
                          </li>
                          <li>
                            <a href="elements-breadcrumbs.html">Breadcrumbs</a>
                          </li>
                          <li>
                            <a href="elements-newsletter.html">Newsletter</a>
                          </li>
                          <li>
                            <a href="elements-team.html">team</a>
                          </li>
                          <li>
                            <a href="elements-audio.html">Audio</a>
                          </li>
                          <li>
                            <a href="elements-video.html">Video</a>
                          </li>
                        </ul>
                        <ul class="single-mega-item">
                          <li class="menu-title">Elements 4</li>
                          <li>
                            <a href="elements-typography.html">typography</a>
                          </li>
                          <li>
                            <a href="elements-buttons.html">Buttons</a>
                          </li>
                          <li>
                            <a href="elements-call-to-action.html">Call to Action</a>
                          </li>
                          <li>
                            <a href="elements-accordion.html">Accordion</a>
                          </li>
                          <li>
                            <a href="elements-alerts.html">Alerts</a>
                          </li>
                          <li>
                            <a href="elements-progress-bars.html">progress-bars</a>
                          </li>
                          <li>
                            <a href="elements-tab.html">tab</a>
                          </li>
                          <li>
                            <a href="elements-toggles.html">toggles</a>
                          </li>
                          <li>
                            <a href="elements-toggles.html">toggles</a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </li>
                  <li>
                    <a href="#">CAVALIERI</a>
                  </li>
                  <li>
                    <a href="#">SCUDERIA E RECINZIONI</a>
                  </li>
                  <li>
                    <a href="#">CURA DEL CAVALLO</a>
                  </li>

                  <li>
                    <a href="#" class="animali">CANI</a>
                  </li>
                  <li>
                    <a href="#" class="animali">GATTI</a>
                  </li>
                  <li>
                    <a href="#" class="animali">ALTRI ANIMALI</a>
                  </li>

                  <li>
                    <a href="#" class="uomini">PER TE</a>
                  </li>
                  <li>
                    <a href="#" class="uomini">HOBBY</a>
                  </li>
                </ul>
              </nav>
            </div>
            <!-- header-search & total-cart -->
            <div class="col-md-2 col-sm-6 col-xs-12">
              <div class="search-top-cart f-right">
                <!-- header-search -->
                <div class="header-search f-left">
                  <div class="header-search-inner">
                    <button class="search-toggle">
                      <i class="zmdi zmdi-search"></i>
                    </button>
                    <form action="#">
                      <div class="top-search-box">
                        <input type="text" placeholder="Search here your product..." />
                        <button type="submit">
                          <i class="zmdi zmdi-search"></i>
                        </button>
                      </div>
                    </form>
                  </div>
                </div>
                <!-- total-cart -->
                <div class="total-cart f-left">
                  <div class="total-cart-in">
                    <div class="cart-toggler">
                      <a href="#">
                        <span class="cart-quantity">02</span>
                        <br />
                        <span class="cart-icon">
                          <i class="zmdi zmdi-shopping-cart-plus"></i>
                        </span>
                      </a>
                    </div>
                    <ul>
                      <li>
                        <div class="top-cart-inner your-cart">
                          <h5 class="text-capitalize">Il tuo carrello</h5>
                        </div>
                      </li>
                      <li>
                        <div class="total-cart-pro">
                          <!-- single-cart -->
                          <div class="single-cart clearfix">
                            <div class="cart-img f-left">
                              <a href="#">
                                <img src="img/cart/1.jpg" alt="Cart Product" />
                              </a>
                              <div class="del-icon">
                                <a href="#">
                                  <i class="zmdi zmdi-close"></i>
                                </a>
                              </div>
                            </div>
                            <div class="cart-info f-left">
                              <h6 class="text-capitalize">
                                <a href="#">Dummy Product Name</a>
                              </h6>
                              <p>
                                <span>
                                  Brand
                                  <strong>:</strong>
                                </span>Brand Name
                              </p>
                              <p>
                                <span>
                                  Model
                                  <strong>:</strong>
                                </span>Grand s2
                              </p>
                              <p>
                                <span>
                                  Color
                                  <strong>:</strong>
                                </span>Black, White
                              </p>
                            </div>
                          </div>
                          <!-- single-cart -->
                          <div class="single-cart clearfix">
                            <div class="cart-img f-left">
                              <a href="#">
                                <img src="img/cart/1.jpg" alt="Cart Product" />
                              </a>
                              <div class="del-icon">
                                <a href="#">
                                  <i class="zmdi zmdi-close"></i>
                                </a>
                              </div>
                            </div>
                            <div class="cart-info f-left">
                              <h6 class="text-capitalize">
                                <a href="#">Dummy Product Name</a>
                              </h6>
                              <p>
                                <span>
                                  Brand
                                  <strong>:</strong>
                                </span>Brand Name
                              </p>
                              <p>
                                <span>
                                  Model
                                  <strong>:</strong>
                                </span>Grand s2
                              </p>
                              <p>
                                <span>
                                  Color
                                  <strong>:</strong>
                                </span>Black, White
                              </p>
                            </div>
                          </div>
                          <!-- single-cart -->
                          <div class="single-cart clearfix">
                            <div class="cart-img f-left">
                              <a href="#">
                                <img src="img/cart/1.jpg" alt="Cart Product" />
                              </a>
                              <div class="del-icon">
                                <a href="#">
                                  <i class="zmdi zmdi-close"></i>
                                </a>
                              </div>
                            </div>
                            <div class="cart-info f-left">
                              <h6 class="text-capitalize">
                                <a href="#">Dummy Product Name</a>
                              </h6>
                              <p>
                                <span>
                                  Brand
                                  <strong>:</strong>
                                </span>Brand Name
                              </p>
                              <p>
                                <span>
                                  Model
                                  <strong>:</strong>
                                </span>Grand s2
                              </p>
                              <p>
                                <span>
                                  Color
                                  <strong>:</strong>
                                </span>Black, White
                              </p>
                            </div>
                          </div>
                        </div>
                      </li>
                      <li>
                        <div class="top-cart-inner subtotal">
                          <h4 class="text-uppercase g-font-2">
                            Totale ordine =
                            <span>€ 500,00</span>
                          </h4>
                        </div>
                      </li>
                      <li>
                        <div class="top-cart-inner view-cart">
                          <h4 class="text-uppercase">
                            <a href="#">Vai al carrello</a>
                          </h4>
                        </div>
                      </li>
                      <li>
                        <div class="top-cart-inner check-out">
                          <h4 class="text-uppercase">
                            <a href="#">Concludi l'ordine</a>
                          </h4>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
</template>

<script>
import axios from "axios";

export default {
  data() {
    return {
      categorie: ""
    };
  },

  mounted() {
    axios
      .get(
        "http://34.89.144.223:8080/horse-admin-backend/store/category/tree/hp/IT"
      )
      .then(response => {
        this.categorie = response.data.childs;
      });
  }
};
</script>
