<template>
  <footer id="footer" class="footer-area">
    <div class="footer-top">
      <div class="container-fluid">
        <div class="plr-126">
          <div class="footer-top-inner gray-bg">
            <div class="row">
              <div class="col-lg-4 col-md-5 col-sm-4">
                <div class="single-footer footer-about">
                  <div class="footer-logo">
                    <img src="img/logo/horse-pet.png" alt="HorsePet" width="200" />
                  </div>
                  <div class="footer-brief">
                    <p>
                      è un marchio di Studio Origgi srl:
                      <br />Via della Valle 46/a
                      <br />20841 Carate Brianza (MB)
                      <br />C.F. e P. IVA: 08102670968
                      <br />REA: MB-1887970
                      <br />Tel.
                      <a href="tel:+390362990913">0362 990913</a>
                      <br />
                      <a href="mailto:info@nonsolocavallo.it">info@nonsolocavallo.it</a>
                    </p>
                  </div>
                  <ul class="footer-social">
                    <li>
                      <a class="facebook" href="#" title="Facebook">
                        <i class="zmdi zmdi-facebook"></i>
                      </a>
                    </li>
                    <li>
                      <a class="google-plus" href="#" title="Google Plus">
                        <i class="zmdi zmdi-google-plus"></i>
                      </a>
                    </li>
                    <li>
                      <a class="twitter" href="#" title="Twitter">
                        <i class="zmdi zmdi-twitter"></i>
                      </a>
                    </li>
                    <li>
                      <a class="rss" href="#" title="RSS">
                        <i class="zmdi zmdi-rss"></i>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="col-lg-2 hidden-md hidden-sm">
                <div class="single-footer">
                  <h4 class="footer-title border-left">Servizi</h4>
                  <ul class="footer-menu">
                    <li>
                      <a href="#">
                        <i class="zmdi zmdi-circle"></i>
                        <span>New Products</span>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <i class="zmdi zmdi-circle"></i>
                        <span>Discount Products</span>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <i class="zmdi zmdi-circle"></i>
                        <span>Best Sell Products</span>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <i class="zmdi zmdi-circle"></i>
                        <span>Popular Products</span>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <i class="zmdi zmdi-circle"></i>
                        <span>Manufactirers</span>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <i class="zmdi zmdi-circle"></i>
                        <span>Suppliers</span>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <i class="zmdi zmdi-circle"></i>
                        <span>Special Products</span>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-4">
                <div class="single-footer">
                  <h4 class="footer-title border-left">Pagamenti</h4>
                  <ul class="footer-menu">
                    <li>
                      <a href="my-account.html">
                        <i class="zmdi zmdi-circle"></i>
                        <span>Spese di spedizione</span>
                      </a>
                    </li>
                    <li>
                      <a href="my-account.html">
                        <i class="zmdi zmdi-circle"></i>
                        <span>Modalità di pagamento</span>
                      </a>
                    </li>
                    <li>
                      <a href="my-account.html">
                        <i class="zmdi zmdi-circle"></i>
                        <span>Sostituzione per cambio prodotto</span>
                      </a>
                    </li>
                    <li>
                      <a href="my-account.html">
                        <i class="zmdi zmdi-circle"></i>
                        <span>SOstituzione con buono spesa</span>
                      </a>
                    </li>
                    <li>
                      <a href="my-account.html">
                        <i class="zmdi zmdi-circle"></i>
                        <span>Recesso</span>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="col-lg-3 col-md-4 col-sm-4">
                <div class="single-footer">
                  <h4 class="footer-title border-left">Contattaci</h4>
                  <div class="footer-message">
                    <form action="#">
                      <input type="text" name="name" placeholder="Inserisci il tuo nome" />
                      <input type="text" name="email" placeholder="Inserisci la tua email" />
                      <textarea
                        class="height-80"
                        name="message"
                        placeholder="Inserisci il tuo messaggio"
                      ></textarea>
                      <button class="submit-btn-1 mt-20 btn-hover-1" type="submit">Invia messaggio</button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-bottom black-bg">
      <div class="container-fluid">
        <div class="plr-185">
          <div class="copyright">
            <div class="row">
              <div class="col-sm-6 col-xs-12">
                <div class="copyright-text">
                  <p>
                    &copy;
                    <a href="/" target="_blank">HorsePet</a> 2019. È un marchio
                    di Studio Origgi srl
                  </p>
                </div>
              </div>
              <div class="col-sm-6 col-xs-12">
                <ul class="footer-payment text-right">
                  <li>
                    <a href="#">
                      <img src="img/payment/1.jpg" alt />
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <img src="img/payment/2.jpg" alt />
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <img src="img/payment/3.jpg" alt />
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <img src="img/payment/4.jpg" alt />
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
</template>

<script>
export default {};
</script>
