<template>
  <li class="mega-parent">
    <router-link
      :to="{
        name: 'prodotti',
        params: {
          id: categoria.id,
          titolo: string_to_slug(categoria.label)
        }
      }"
      >{{ categoria.label }}</router-link
    >

    <div class="mega-menu-area clearfix">
      <div class="mega-menu-link mega-menu-link-4 f-left">
        <ul
          class="single-mega-item"
          v-for="(categoria1, x) in categoria.childs"
          :key="x"
        >
          <li class="menu-title">
            <router-link
              :to="{
                name: 'prodotti',
                params: {
                  id: categoria1.id,
                  titolo: string_to_slug(categoria1.label)
                }
              }"
              v-if="!categoria1.childs.length"
              >{{ categoria1.label }}</router-link
            >
            <span v-if="categoria1.childs.length">{{ categoria1.label }}</span>
          </li>
          <li v-for="(categoria2, y) in categoria1.childs" :key="y">
            <router-link
              :to="{
                name: 'prodotti',
                params: {
                  id: categoria2.id,
                  titolo: string_to_slug(categoria2.label)
                }
              }"
              >{{ categoria2.label }}</router-link
            >
          </li>
        </ul>
      </div>
    </div>
  </li>
</template>

<script>
import { funzioni } from "../mixins/index";

export default {
  mixins: [funzioni],

  props: {
    categoria: Object
  }
};
</script>

<style scoped>
.mega-menu-area {
  padding: 10px;
  padding-bottom: 0;
}
.menu-title {
  color: #000;
  font-weight: 500;
  padding-bottom: 0;
  text-transform: none;
}
.single-mega-item {
  margin-bottom: 10px;
}
.single-mega-item li {
  margin: 0;
}
.single-mega-item li a {
  color: #666;
  display: inline-block;
  font-size: 13px;
  line-height: 14px;
  padding: 3px 0;
  text-transform: none;
}
.single-mega-item li a:hover {
  color: #ff7f00;
}
.single-mega-item li a::before {
  background-color: #ff7f00;
  bottom: 1px;
  height: 1px;
}
</style>
