<template>
  <div class="shop-list product-item">
    <div class="product-img">
      <router-link
        :to="{
          name: 'prodotto',
          params: {
            id: prodotto.id,
            titolo: string_to_slug(
              scegliTitolo(prodotto.label, prodotto.metaTitle)
            )
          }
        }"
      >
        <img
          :src="
            'https://storage.cloud.google.com/hp-admin-upload/uploads/product_' +
              prodotto.code +
              '-c0.jpg'
          "
          :alt="prodotto.label"
          onerror="this.onerror=null;this.src='http://www.nonsolocavallo.it/foto/thumb/no-img.jpg'"
        />
      </router-link>
    </div>

    <div class="product-info">
      <div class="clearfix">
        <h6 class="product-title f-left">
          <router-link
            :to="{
              name: 'prodotto',
              params: {
                id: prodotto.id,
                titolo: string_to_slug(
                  scegliTitolo(prodotto.label, prodotto.metaTitle)
                )
              }
            }"
            >{{ prodotto.label }}</router-link
          >
        </h6>
      </div>
      <h6 class="brand-name mb-30">{{ prodotto.brand.label }}</h6>

      <table
        style="border-size: 0px; border-collapse: collapse"
        class="product-table mb-20"
      >
        <thead>
          <tr>
            <th>Formato di vendita</th>
            <th class="visible-lg">Listino</th>
            <th>Prezzo scontato</th>
            <th>&nbsp;</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(variante, x) in prodotto.variants" :key="x">
            <td>{{ variante.label }}</td>
            <td class="visible-lg">
              €
              {{
                variante.amount.toLocaleString("it-IT", {
                  minimumFractionDigits: 2,
                  maximumFractionDigits: 2
                })
              }}
            </td>
            <td class="prezzo">
              €
              {{
                variante.finalAmount.toLocaleString("it-IT", {
                  minimumFractionDigits: 2,
                  maximumFractionDigits: 2
                })
              }}
            </td>
            <td class="aggiungi">
              <a
                title="Aggiungi al carrello"
                @click.prevent="aggiungiCarrello(variante.itemStocks[0].id)"
              >
                <i class="zmdi zmdi-shopping-cart-plus"></i>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>

<script>
import { funzioni } from "../../mixins/index";

export default {
  mixins: [funzioni],

  props: {
    prodotto: Object
  },

  methods: {
    aggiungiCarrello(id) {
      alert("Prodotto " + id + " aggiunto al carrello!");
    }
  }
};
</script>

<style scoped>
.product-img img {
  height: auto;
  width: 100%;
}

.product-title {
  font-size: 14px;
  font-weight: bold;
  height: auto;
  margin-bottom: 0;
}

.product-table th,
.product-table td {
  border: 1px solid #dbdbdb;
  color: #333;
  font-size: 12px;
  padding: 2px 10px;
}
.product-table th {
  background: #dbdbdb;
}
.product-table td {
  background: #fff;
}

.product-table td.prezzo {
  font-weight: bold;
}
.product-table td.aggiungi {
  font-size: 16px;
  text-align: center;
}
</style>
