<template>
  <div class="col-md-3 col-sm-3 col-xs-6">
    <div class="product-item">
      <div class="product-img">
        <router-link
          :to="{
            name: 'prodotto',
            params: {
              id: prodotto.id,
              titolo: string_to_slug(
                scegliTitolo(prodotto.label, prodotto.metaTitle)
              )
            }
          }"
        >
          <img
            :src="
              'https://storage.cloud.google.com/hp-admin-upload/uploads/product_' +
                prodotto.code +
                '-c0.jpg'
            "
            :alt="prodotto.label"
            onerror="this.onerror=null;this.src='http://www.nonsolocavallo.it/foto/thumb/no-img.jpg'"
          />
        </router-link>
      </div>
      <div class="product-info">
        <div class="product-colors">
          <i class="zmdi zmdi-circle" style="color: #654321"></i>
          <i class="zmdi zmdi-circle" style="color: #FF0000"></i>
          <i class="zmdi zmdi-circle" style="color: #B2B2B2"></i>
          <i class="zmdi zmdi-circle" style="color: #0000FF"></i>
        </div>

        <h6 class="product-title">
          <router-link
            :to="{
              name: 'prodotto',
              params: {
                id: prodotto.id,
                titolo: string_to_slug(
                  scegliTitolo(prodotto.label, prodotto.metaTitle)
                )
              }
            }"
          >
            {{ prodotto.code }}
            <br />
            <strong>{{ prodotto.brand.label }}</strong>
            <br />
            {{ prodotto.label }}
          </router-link>
        </h6>
        <h3 class="pro-price">
          <span class="old"
            >€
            {{
              prodotto.amount.toLocaleString("it-IT", {
                minimumFractionDigits: 2,
                maximumFractionDigits: 2
              })
            }}</span
          >
          €
          {{
            prodotto.finalAmount.toLocaleString("it-IT", {
              minimumFractionDigits: 2,
              maximumFractionDigits: 2
            })
          }}
        </h3>
        <div class="sped-gratis">
          <span v-show="prodotto.freeShipping">Spedizione Gratis</span>
        </div>
        <!-- <ul class="action-button">
          <li>
            <a href="#" title="Wishlist">
              <i class="zmdi zmdi-favorite"></i>
            </a>
          </li>
        </ul> -->
      </div>
    </div>
  </div>
</template>

<script>
import { funzioni } from "../../mixins/index";

export default {
  mixins: [funzioni],

  props: {
    prodotto: Object
  }
};
</script>

<style scoped>
.pro-price .old {
  color: #666;
  font-size: 1rem;
  text-decoration: line-through;
}

.sped-gratis {
  color: #f60;
  display: block;
  height: 20px;
  font-size: 12px;
  font-weight: 700;
  line-height: 1;
}
</style>
