<template>
  <div class="container hidden-xs">
    <div class="row">
      <div class="col-sm-12">
        <ul class="breadcrumb">
          <li v-for="(categoria, x) in breadcrumb" :key="x">
            <router-link
              :to="{
                name: 'prodotti',
                params: {
                  id: categoria.id,
                  titolo: string_to_slug(categoria.label)
                }
              }"
              >{{ categoria.label }}</router-link
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import { funzioni } from "../../mixins/index";

export default {
  mixins: [funzioni],

  data() {
    return {
      breadcrumb: ""
    };
  },

  created() {
    axios
      .get(
        "http://34.89.144.223:8080/horse-admin-backend/store/category/hp/IT/" +
          this.$route.params.id
      )
      .then(response => {
        this.breadcrumb = response.data.breadcrumbs;
      });
  }
};
</script>
