<template>
  <div class="col-md-3 col-md-pull-9 col-xs-12">
    <MenuCategorie />

    <FiltraMarca />

    <FiltraPrezzo />

    <FiltraAltri />

    <UltimiVisti />
  </div>
</template>

<script>
import MenuCategorie from "./MenuCategorie.vue";
import FiltraMarca from "./FiltraMarca.vue";
import FiltraPrezzo from "./FiltraPrezzo.vue";
import FiltraAltri from "./FiltraAltri.vue";
import UltimiVisti from "./UltimiVisti.vue";

export default {
  components: {
    MenuCategorie,
    FiltraMarca,
    FiltraPrezzo,
    FiltraAltri,
    UltimiVisti
  }
};
</script>

<style scoped>
/deep/ .widget input[type="checkbox"] {
  margin: 4px 10px 0 0;
}
</style>
