<template>
  <aside class="widget box-shadow mb-30">
    <h6 class="widget-title border-left mb-20">Filtra per marca</h6>
    <span v-for="x in 5" :key="x">
      <label>
        <input type="checkbox" name="operating-1" value="phone-1" />
        Marca {{ x }}
      </label>
      <br />
    </span>
  </aside>
</template>

<script>
export default {};
</script>

<style scoped></style>
