<template>
  <aside class="widget shop-filter box-shadow mb-30">
    <h6 class="widget-title border-left mb-20">Filtra per prezzo</h6>
    <div class="price_filter">
      <div class="price_slider_amount">
        <input type="submit" value="Compreso tra:" />
        <input
          type="text"
          id="amount"
          name="price"
          placeholder="Inserisci il prezzo"
        />
      </div>
      <div id="slider-range"></div>
    </div>

    <label>
      <input type="checkbox" name="filter" value="filter" />Spedizione gratis
    </label>
    <br />
    <label>
      <input type="checkbox" name="filter" value="filter" />Prezzi scontati
    </label>
    <br />
  </aside>
</template>

<script>
export default {};
</script>

<style scoped></style>
