<template>
  <div>
    <aside
      class="widget widget-color box-shadow mb-30"
      v-for="(filtro, x) in filtri"
      :key="x"
    >
      <h6 class="widget-title border-left mb-20">
        Filtra per {{ filtro.label }}
      </h6>
      <span v-for="(valore, y) in filtro.features" :key="y">
        <label>
          <input
            type="checkbox"
            name="feature"
            :value="valore.id"
            v-model="features"
            @change="filtraProdotti()"
          />
          <i
            class="zmdi zmdi-circle color"
            v-if="filtro.label === 'Colore'"
          ></i>
          {{ valore.label }}
        </label>
        <br />
      </span>
    </aside>
  </div>
</template>

<script>
import axios from "axios";

export default {
  data() {
    return {
      filtri: "",
      features: []
    };
  },

  computed: {
    //indirizzo del JSON
    indirizzo: function() {
      let valore =
        "http://34.89.144.223:8080/horse-admin-backend/store/classofgoods/hp/IT/";
      valore = valore + this.$route.params.id;
      return valore;
    }
  },

  created() {
    axios
      .get(this.indirizzo)
      .then(response => {
        this.filtri = response.data;
      })
      .catch(e => {
        this.errors.push(e);
      });
  },

  methods: {
    filtraProdotti() {
      let x = 0;
      let feats = "";

      for (; x < this.features.length; ) {
        feats += "id:" + this.features[x] + ",";
        x++;
      }

      feats = feats.substring(0, feats.length - 1);

      this.$router.push({
        name: "prodotti",
        params: {
          id: this.$route.params.id,
          titolo: this.$route.params.titolo,
          layout: this.$route.params.layout
        },
        query: {
          page: this.$route.query.page,
          order: this.$route.query.order,
          features: feats
        }
      });
    }
  }
};
</script>

<style scoped></style>
