<template>
  <aside class="widget widget-categories box-shadow mb-30">
    <h6 class="widget-title border-left mb-20">Categorie</h6>
    <div id="cat-treeview" class="product-cat">
      <ul v-for="(categoria1, id1) in categorieFiltrate" :key="id1">
        <li>
          <router-link
            :to="{
              name: 'prodotti',
              params: {
                id: categoria1.id,
                titolo: string_to_slug(categoria1.label),
                layout: categoria1.layout
              }
            }"
            >{{ categoria1.label }}</router-link
          >
          <ul v-for="(categoria2, id2) in categoria1.childs" :key="id2">
            <li class="closed">
              <router-link
                :to="{
                  name: 'prodotti',
                  params: {
                    id: categoria2.id,
                    titolo: string_to_slug(categoria2.label),
                    layout: categoria1.layout
                  }
                }"
                >{{ categoria2.label }}</router-link
              >
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </aside>
</template>

<script>
import axios from "axios";
import { JSONPath } from "jsonpath-plus";
import { funzioni } from "../../mixins/index";

export default {
  name: "CategorieColSx",

  mixins: [funzioni],

  data() {
    return {
      categorieFiltrate: ""
    };
  },

  created() {
    axios
      .get(
        "http://34.89.144.223:8080/horse-admin-backend/store/category/tree/hp/IT"
      )
      .then(response => {
        //this.categorieFiltrate = response.data.childs;
        this.categorieFiltrate = JSONPath(
          "$.[?(@.id==" + this.$route.params.id + ")]",
          response.data.childs
        );

        if (this.categorieFiltrate == "") {
          this.$router.push({
            name: "prodotti",
            params: { id: "201790", titolo: "cavalli", sort: 40 }
          });
        }
      });
  }
};
</script>
