<template>
  <div class="shop-option box-shadow mb-30 clearfix">
    <!-- short-by -->
    <div class="short-by f-left text-center">
      <span>Ordina per:</span>
      <select v-model="valore" @change="ordinaProdotti(valore)">
        <option :value="scontoMaggiore">Sconto maggiore</option>
        <option :value="'insertDate,desc'">Ultimi inseriti</option>
        <option :value="prezzoCrescente">Prezzo crescente</option>
        <option :value="prezzoDecrescente">Prezzo decrescente</option>
        <option :value="'cps.position,asc'">Consigliati</option>
      </select>
    </div>
    <!-- showing -->
    <div class="showing f-right text-right">
      <span>Numero prodotti: {{ numeroProdotti }}</span>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    numeroProdotti: Number
  },

  data() {
    return {
      valore: ""
    };
  },

  computed: {
    scontoMaggiore: function() {
      let valore = "v.discount,desc";
      this.$route.params.layout === "Pappe"
        ? (valore = "discount,desc")
        : valore;
      return valore;
    },

    prezzoCrescente: function() {
      let valore = "v.realAmount,asc";
      this.$route.params.layout === "Pappe"
        ? (valore = "realAmount,asc")
        : valore;
      return valore;
    },

    prezzoDecrescente: function() {
      let valore = "v.realAmount,desc";
      this.$route.params.layout === "Pappe"
        ? (valore = "realAmount,desc")
        : valore;
      return valore;
    }
  },

  methods: {
    ordinaProdotti(valore) {
      this.$router.push({
        name: "prodotti",
        params: {
          id: this.$route.params.id,
          titolo: this.$route.params.titolo,
          layout: this.$route.params.layout
        },
        query: {
          page: this.$route.query.page,
          order: valore,
          features: this.$route.query.features
        }
      });
    }
  }
};
</script>
