<template>
  <aside class="widget widget-product box-shadow">
    <h6 class="widget-title border-left mb-20">
      Ultimi prodotti visti
    </h6>

    <UltimoVisto v-for="id in ultimiVisti" :key="id" :id="id"></UltimoVisto>
  </aside>
</template>

<script>
import UltimoVisto from "./UltimoVisto";

export default {
  components: {
    UltimoVisto
  },

  computed: {
    ultimiVisti: function() {
      let valore = "";
      this.$storage.get("ultimiVisti")
        ? (valore = this.$storage.get("ultimiVisti").ids.reverse())
        : valore;
      return valore;
    }
  }
};
</script>
