<template>
  <div class="product-item">
    <div class="product-img">
      <router-link
        :to="{
          name: 'prodotto',
          params: { id: prodotto.id, titolo: string_to_slug(prodotto.label) }
        }"
      >
        <img
          :src="
            'https://storage.cloud.google.com/hp-admin-upload/uploads/' +
              prodotto.variants[0].variantImages[0].label
          "
          :alt="prodotto.label"
          onerror="this.onerror=null;this.src='http://www.nonsolocavallo.it/foto/thumb/no-img.jpg'"
        />
      </router-link>
    </div>

    <div class="product-info">
      <h6 class="product-title">
        <router-link
          :to="{
            name: 'prodotto',
            params: { id: prodotto.id, titolo: string_to_slug(prodotto.label) }
          }"
          >{{ prodotto.label }}</router-link
        >
      </h6>
      <h3 class="pro-price">
        €
        {{
          prodotto.finalAmount.toLocaleString("it-IT", {
            minimumFractionDigits: 2,
            maximumFractionDigits: 2
          })
        }}
      </h3>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import { funzioni } from "../../mixins/index";

export default {
  name: "UltimoVistoColSx",

  mixins: [funzioni],

  props: {
    id: Number
  },

  data() {
    return {
      prodotto: {
        id: "",
        variants: {
          variantImages: {
            label: ""
          }
        }
      }
    };
  },

  created() {
    axios
      .get(
        "http://34.89.144.223:8080/horse-admin-backend/store/product/hp/IT/" +
          this.id
      )
      .then(response => {
        this.prodotto = response.data;
      });
  }
};
</script>

<style scoped>
.product-img {
  float: left;
  width: 35%;
}
.product-img img {
  height: auto;
  width: 100%;
}
</style>
